<!-- main.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Artogether</title>
    <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
    <link rel="stylesheet" href="./style/style_general.css" />
    <link rel="stylesheet" href="./style/style_homepage.css" />
    <link
            href="https://fonts.googleapis.com/icon?family=Material+Icons"
            rel="stylesheet"
    />
</head>
<body>
<header th:include="web_design/components/header :: header"></header>
<div>這裡是主要內容</div>
<footer th:include="web_design/components/footer :: footer"></footer>

<!-- 導航欄-探索視窗 -->
<div class="nav-menu-box">
    <div class="nav-menu-mask"></div>
    <div class="nav-menu">
        <div class="nav-menu-content">
            <div class="nav-menu-content-item selected">
                <div>
                    探索內容 <span class="material-icons">chevron_right</span>
                </div>
                <p>探索所有你喜愛的內容</p>
            </div>
            <div class="nav-menu-content-item">
                <div>
                    內容查找
                    <span class="material-icons">chevron_right</span>
                </div>
                <p>眾裡尋他千百度</p>
            </div>
        </div>
        <div class="nav-menu-submenu">
            <div clickable role="link" class="nav-menu-submenu-item selected">
                活動
                <span class="material-icons">local_activity</span>
            </div>
            <div clickable role="link" class="nav-menu-submenu-item">
                場地
                <span class="material-icons">roofing</span>
            </div>
            <div clickable role="link" class="nav-menu-submenu-item">
                商品
                <span class="material-icons">sell</span>
            </div>
        </div>
        <div class="nav-menu-submenu">
            <div clickable role="link" class="nav-menu-submenu-item">類型1</div>
            <div clickable role="link" class="nav-menu-submenu-item">類型1</div>
            <div clickable role="link" class="nav-menu-submenu-item">類型1</div>
        </div>
    </div>
</div>

<!-- 會員視窗 -->
<div class="user-menu-box">
    <div clickable class="user-info-box">
        <div class="thumbnail">
            <img src="./asset/images/bgimg.png" alt="" />
        </div>
        <div class="user-info-text">Alice Wang</div>
        <span class="material-icons">chevron_right</span>
    </div>
    <hr />
    <div class="user-menu-group">
        <div clickable class="user-menu-item">
            <span class="material-icons">bookmark</span>
            我的珍藏
        </div>
        <div clickable class="user-menu-item">
            <span class="material-icons">description</span>
            訂單紀錄
        </div>
        <div clickable class="user-menu-item">
            <span class="material-icons">settings</span>
            帳號設定
        </div>
    </div>
    <hr />
    <div class="user-menu-group">
        <button clickable class="button-primary button-big">
            前往商家後台
        </button>
        <button clickable class="button-secondary button-big">登出</button>
    </div>
</div>

<script src="./components/web_components/navbar_hompage.js"></script>
<script>
    var el_nav_item_discover = document.querySelector("div.navbar-item");
    var el_div_nav_menu_box = document.querySelector("div.nav-menu-box");
    var el_div_nav_user_box = document.querySelector("div.user_div");
    var el_div_nav_menu = document.querySelector("div.nav-menu");
    var el_eiv_user_menu = document.querySelector("div.user-menu-box");

    //=====================觸發視窗========================
    // 1. 探索
    el_nav_item_discover.addEventListener("mouseenter", function () {
        if (!el_div_nav_menu_box.classList.contains("open"))
            el_div_nav_menu_box.classList.add("open");
    });
    console.log(el_div_nav_menu);
    el_div_nav_menu.addEventListener("mouseleave", function () {
        if (el_div_nav_menu_box.classList.contains("open"))
            el_div_nav_menu_box.classList.remove("open");
    });

    // 2. 會員
    el_div_nav_user_box.addEventListener("mouseenter", function () {
        if (!el_eiv_user_menu.classList.contains("open"))
            el_eiv_user_menu.classList.add("open");
    });
    el_eiv_user_menu.addEventListener("mouseleave", function () {
        if (el_eiv_user_menu.classList.contains("open"))
            el_eiv_user_menu.classList.remove("open");
    });
</script>
</body>
</html>
