<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>訂單查詢</title>

    <link rel="stylesheet" th:href="@{/web_design/style/style_business.css}" />
    <link
            href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined"
            rel="stylesheet"
    />
</head>
<body>
<div th:replace="~{/components/navbar_business::navbar('product','order')}"></div>
<main>
    <div class="center">
        <h1>訂單查詢</h1>
    </div>
    <table>
        <thead>
        <tr>
            <th>訂單編號</th>
            <th>訂單日期</th>
            <th>金額</th>
            <th>訂單狀態</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="businessDTO : ${businessDTOList}" data-product-id="${businessDTO.prdOrderId}">
            <td th:text="${businessDTO.prdOrderId}">訂單編號</td>
            <td th:text="${businessDTO.prdOrderDetails.get(0).prdOrder.orderDate}">訂單日期</td>
            <td th:text="'NT$ '+ ${businessDTO.prdOrderDetails.get(0).prdOrder.paid}">金額</td>
            <td th:text="${businessDTO.prdOrderDetails.get(0).prdOrder.status}">訂單狀態</td>
            <td>
                <a th:href="@{/order/businessOrderDetail/{id}(id=${businessDTO.prdOrderId})}">
                    <button>查閱</button>
                </a>
            </td>
        </tr>
        </tbody>
    </table>
<!--    <img src="./asset/images/bgimg.png" alt="" />-->

</main>
</body>
</html>