<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/web_design/style/style_general.css}" />
 	<link rel="stylesheet" th:href="@{/web_design/style/style_homepage.css}" />
	<link
	  href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined"
	  rel="stylesheet"
	/>
    <title>event details</title>
</head>
<body>
<!-- 導航 -->
<div th:replace="~{/components/navbar_homepage::navbar}"></div>

<main>
	<div th:replace="~{/components/carousel::carousel(${evtImgList},'400', false)}"></div>
<div class="normal-width row" style="margin:40px 0">
	
	<section class="flex-3 info-card-outline">
		<p>活動詳情 <span class="material-symbols-outlined">chevron_forward</span> <span th:text="${evt.id}"></span></p>
		<h2 th:text="${evt.name}"></h2>
		<div class="info-card-outline row">
			<div class="info-card-horizontal flex-1">
				<div class="icon-box">
					<span class="material-symbols-outlined">schedule</span>
				</div>
				<div class="info-box">
					<h6 class="info-name" th:text="${evt.endDate != null} ? '起始時間' : '活動日期'">起始時間</h6>
			    	<p class="info-text" th:text="${evt.startDate}">20xx-xx-xx</p>
				</div>
			</div>
			
			<div th:if="${evt.endDate}" class="info-card-horizontal flex-1">
				<div class="icon-box">
					<span class="material-symbols-outlined">schedule</span>
				</div>
				<div class="info-box">
					<h6 class="info-name">結束時間</h6>
			    	<p class="info-text" th:text="${evt.endDate}">xxxx-xx-xx</p>
				</div>
			</div>
		</div>
		
		<p th:if="${evt.delayDate}" th:text="${evt.delayDate?}"></p>
		<p th:text="${evt.description}"></p>
	</section>
	<aside class="info-card-outline flex-1" style="height:min-content;">
		<h3 th:text="${evt.businessMember.name}"></h3>
		<p th:text="${evt.businessMember.addr}"></p>
		<div class="row">
<!-- 			<button class="button-big button-primary flex-auto">立即報名</button> -->
<!-- 			<div th:replace="~{/event/eventTest::registerButton}"></div> -->
			<button class="button-icon-big" id=btn_track><span class="material-symbols-outlined">bookmark</span></button>
		</div>
	</aside>
</div>

</main>

<script type="text/javascript" th:inline="javascript">
	var el_btn_track=document.querySelector("#btn_track")
	el_btn_track.addEventListener("click", function(){
		trackEvt();
	});
	const eventId = /*[[${evt.id}]]*/ 'defaultEvtId';
	const memberId = /*[[${session.member}]]*/ 'defaultMemberId';
	const payload = {
		    eventId: eventId,
		    memberId: memberId
		};
	var trackEvt = async function() {
	    try {
	        let response = await fetch("/api/event/toggleTrack", {
	            method: "POST",
	            headers: {
	                "Content-Type": "application/json",
	            },
	            body: JSON.stringify(payload),
	        });
	
	        console.log(response);
	        if (response.ok) {
	            let data = await response.json(); // 解析 JSON 資料
	            alert(data.message);
	        } else {
	            alert("追蹤失敗，請稍後再試。");
	        }
	    } catch (error) {
	        console.error("Error:", error);
	        alert("請求發送失敗，請稍後再試。");
	    }
	}
</script>
</body>
</html>