<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>找找新鮮活動</title>
</head>
<body>
	<h4>搜尋欄</h4>
	<form action="#" method="get">
	
		<label for="id">ID</label>
		<input name="id">
		<label for="name">名稱</label>
		<input name="name">
		<label for="location">地點</label>
		<input name="location">
		<label for="minPrice">價錢起</label>
		<input name="minPrice">
		<label for="maxPrice">價錢迄</label>
		<input name="maxPrice">
		<button type="submit">查詢囉</button>
	</form>
	
	<h4>搜尋結果：</h4>
	<p>共有<span th:text=${page.totalElements}></span>筆</p>
	<table>
		<thead>
			<tr>
				<th scope="col">ID</th>
				<th scope="col">名稱</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="evt : ${page.content}">
				<th scope = "row" th:text="${evt.id}">ID</th>	
				<td th:text="${evt.name}"></td>
			</tr>
		</tbody>
	</table>
	
</body>
</html>