<div clickable class="showcase-card card venue">
  <img src="./asset/images/bgimg.png" alt="" />
  <div class="card-content">
    <div class="card-title">
      <div class="tag venue">場地</div>
      <h3 class="card-title-text">
        夭壽讚讚讚讚讚讚讚讚讚讚讚讚讚讚讚讚的場地
      </h3>
    </div>
    <div class="card-info">
      <p>一段小小小小小小小小小小小小小小小小小小小小簡介</p>
    </div>
    <div class="tags-box">
      <div class="tag plain-tag">
        <span class="material-icons">location_on</span>台北市
      </div>
      <div class="tag plain-tag">
        <span class="material-icons">schedule</span>08:00-17:00
      </div>
    </div>
  </div>
</div>
