@mixin clear-default {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@mixin font-setting {
  font-family: "Noto Sans TC";
}
@mixin flexbox($direction, $gap: normal) {
  display: flex;
  flex-direction: $direction;
  gap: $gap;
}
@mixin flexbox-details($aligh-items, $justify-content) {
  align-items: $aligh-items;
  justify-content: $justify-content;
}
@mixin flex-wrap($wrap: wrap, $gap: 8px) {
  display: flex;
  flex-wrap: $wrap;
  gap: $gap;
}

// RWD
@mixin pad {
  @media (max-width: 768px) {
    @content;
  }
}
@mixin mobile {
  @media (max-width: 375px) {
    @content;
  }
}

// 超過行數，使用刪節號設定
@mixin ellipse-text($line-amount) {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: $line-amount;
  overflow: hidden;
}
