@import "typography";
@import "root";
@import "mixins";
* {
  @include clear-default;
  @include font-setting;
}
body {
  // @include font-body-small;
  color: var(--text-default-default-sds-light);
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600; /* 或 600 */
  margin: 0.4em 0;
}

.-hidden {
  display: none !important;
  visibility: hidden;
  width: 0;
  height: 0;
}
[clickable] {
  cursor: pointer;
}
.bgcolor {
  &-business {
    background-color: var(--brand-business) !important;
  }
  &-event {
    background-color: var(--brand-event) !important;
  }
  &-venue {
    background-color: var(--brand-venue) !important;
  }
  &-product {
    background-color: var(--brand-product) !important;
  }
}

.clear-shadow {
  box-shadow: none;
}

span.material-symbols-outlined {
  vertical-align: middle;
}

// input樣式設定
input.solo,
textarea.solo {
  @include font-body-small;
  padding: 8px 8px;
  height: 40px;
  border: 1px solid var(--border-default-default-sds-light);
  border-radius: 4px;
  &:focus {
    outline-color: var(--border-default-secondary-sds-light);
  }
}
label.label-input {
  @include flexbox(column, 8px);
  input {
  }
}
fieldset {
  @include flexbox(column, 16px);
  border-radius: 8px;
  border: 1px solid var(--border-default-default-sds-light);
  padding: 16px;
  margin-top: 16px;
}
div.textfield {
  width: 240px;
  height: 40px;
  border: 1px solid var(--border-default-default-sds-light);
  border-radius: 4px;
  padding: 8px 8px;
  @include flexbox(row);
  @include flexbox-details(center, stretch);
  &.focus {
    outline: 1pt solid var(--border-default-secondary-sds-light);
  }
  input {
    display: inline;
    padding: 0;
    width: 100%;
    outline: none;
    border-style: none;
    background: none;
  }
}

// select樣式設定
select.solo {
  @include font-body-small;
  padding: 8px 8px;
  height: 40px;
  border: 1px solid var(--border-default-default-sds-light);
  border-radius: 4px;
  &:focus {
    outline-color: var(--border-default-secondary-sds-light);
  }
}

// 進度條 progress
div.progress {
  overflow: hidden;
  border-radius: 2px;
  height: 8px;
  background-color: var(--background-default-secondary-sds-light);
  div.progress-bar {
    height: 100%;
    background-color: var(--brand-shop);
  }
}

main {
  @include flexbox(column, 0px);
  @include flexbox-details(center, center);
}
.normal-width {
  width: 1140px;
}
.narrow-width {
  width: 600px;
}

span.material-icons {
  vertical-align: middle;
}

div.tag {
  padding: 2px 6px;
  color: #fff;
  display: inline-block;
  width: fit-content;
  border-radius: 4px;
  &.business {
    background-color: var(--brand-shop);
  }
  &.event {
    background-color: var(--brand-event);
  }
  &.venue {
    background-color: var(--brand-venue);
  }
  &.product {
    background-color: var(--brand-product);
  }
  &.hot {
    background-color: rgba($color: #fd0065, $alpha: 0.1);
    color: #fd0065;
  }
  &.plain-tag {
    background-color: none;
    color: var(--text-default-secondary-sds-light);
  }
}

// card 卡片基本樣式
div.card {
  @include flexbox(column, 16px);
  transition: all 0.1s;
  &:hover {
    transform: scale(1.02);
    // padding: 0 16px;
  }
  img {
    width: 100%;
    height: 160px;
    object-fit: cover;
    border-radius: 8px;
  }
  div.card-content {
    @include flexbox(column, 4px);

    div.card-title {
      display: block;
      flex-wrap: wrap;

      .card-title-text {
        display: inline;
      }
    }
    div.card-info {
      @include flexbox(column, 4px);
    }
    div.tags-box {
      @include flex-wrap;
    }
  }
}
span.badge {
  font-size: 14px;
  display: flex;
  height: 20px;
  min-width: 20px;
  padding: 0px 6px;
  @include flexbox-details(center, center);
  border-radius: 50%;
  color: #fff;
}

button {
  padding: 4px 8px;
  border: 0;
  @include flexbox(row, 4px);
  @include flexbox-details(center, center);
  font-size: 16px;
  border-radius: 4px;

  &.button-primary {
    color: #fff;
    background-color: var(--brand-shop);
  }
  &.button-secondary {
    color: var(--brand-shop);
    border: 1pt solid var(--brand-shop);
    background: none;
  }
  &.button-tertiary {
    border: 1pt solid var(--border-default-default-sds-light);
    color: var(--text-default-secondary-sds-light);
  }

  &.button-big {
    padding: 8px 16px;
  }
  &.button-big-icon {
    padding: 8px;
  }
}

div.pop-up-container {
  position: absolute;
  top: 72px;
  visibility: hidden;

  div.pop-up {
    position: fixed;
    border: 1px solid gray;
    width: 400px;
    @include flexbox(column, 16px);
    padding: 20px;
    background-color: var(--background-default-default-sds-light);
    @include align-middle;

    .button-bar {
      @include flexbox(row, 4px);
      button {
        flex: 1;
      }
    }
  }
  div.pop-up-mask {
    position: fixed;
    height: calc(100dvh - 72px);
    width: 100%;
    background-color: rgba(0, 0, 0, 0.15);
  }
  &.-active {
    visibility: visible;
  }
}

// 排版
.flex {
  display: flex;
}
.inline-b {
  display: inline-block;
}
.flex-auto {
  flex: auto;
}
.flex-1 {
  flex: 1;
}
.flex-2 {
  flex: 2;
}
.flex-3 {
  flex: 3;
}
.row {
  @include flexbox(row, 8px);
}
.margin-b-20 {
  margin-bottom: 20px;
}

// ================ 輪播 carousel =================
#carouselContainer {
  position: relative;
  width: 100%; /* 設定容器的寬度 */
  margin: auto;
  overflow: hidden; /* 隱藏超出部分 */

  /* 使用 CSS 變數指定高度 */
  height: var(--carousel-height, 400px); /* 默認高度為 400px */

  .carousel {
    display: flex;
    transition: transform 0.5s ease-in-out;
    width: 100%; /* 確保 carousel 使用 100% 寬度 */

    .carousel-item {
      min-width: 100%; /* 每個圖片佔滿一個屏幕寬度 */
      height: 100%; /* 高度自適應父容器 */
      background-size: cover; /* 背景圖像覆蓋容器 */
      background-position: center; /* 圖片居中 */
      position: relative;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover; /* 圖片覆蓋容器並保持比例 */
      }
    }
  }

  .carousel-control {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    font-size: 24px; /* 設定較大字型 */
    padding: 10px;
    cursor: pointer;
    z-index: 4;

    &.prev {
      left: 10px; /* 左側按鈕 */
    }

    &.next {
      right: 10px; /* 右側按鈕 */
    }

    &:hover {
      background-color: rgba(0, 0, 0, 0.8); /* 滑鼠懸停時變深 */
    }
  }
}

// info-card
.info-card-outline {
  padding: 16px;
  border: 1px solid var(--border-default-default-sds-light);
  border-radius: 8px;
  .info-card-horizontal {
    @include flexbox(row, 16px);
    @include flexbox-details(center, flex-start);
    .icon-box {
      border-radius: 100%;
      width: 48px;
      height: 48px;
      background-color: var(--brand-shop-tint);
      color: var(--brand-shop);
      padding: 4px;
      span {
        position: relative;
        @include align-middle;
      }
    }
  }
}

table {
  width: 100%;
  border-collapse: collapse;
  text-align: left;
  border-radius: 4px;
  outline: 1px solid var(--brand-shop-tint);

  thead {
    @include font-body-small;
    background-color: var(--brand-shop-tint);
  }
  tbody {
    background-color: var(--background-default-secondary-sds-light);
    tr {
      border-bottom: 1px solid var(--brand-shop-tint);
      &:last-child {
        border: none;
      }
    }
  }
  th,
  td {
    padding: 8px;
  }
}
