@import "typography";
@import "root";
@import "mixins";
* {
  @include clear-default;
  @include font-setting;
}
.-hidden {
  visibility: hidden;
  width: 0;
  height: 0;
}
[clickable] {
  cursor: pointer;
}
.bgcolor {
  &-business {
    background-color: var(--brand-business) !important;
  }
  &-event {
    background-color: var(--brand-event) !important;
  }
  &-venue {
    background-color: var(--brand-venue) !important;
  }
  &-product {
    background-color: var(--brand-product) !important;
  }
}
input.solo {
  @include font-body-small;
  padding: 8px 8px;
  height: 40px;
  border: 1px solid var(--border-default-default-sds-light);
  border-radius: 4px;
  &:focus {
    outline-color: var(--border-default-secondary-sds-light);
  }
}
div.textfield {
  width: 240px;
  height: 40px;
  border: 1px solid var(--border-default-default-sds-light);
  border-radius: 4px;
  padding: 8px 8px;
  @include flexbox(row);
  @include flexbox-details(center, stretch);
  &.focus {
    outline: 1pt solid var(--border-default-secondary-sds-light);
  }
  input {
    display: inline;
    padding: 0;
    width: 100%;
    outline: none;
    border-style: none;
    background: none;
  }
}

// 進度條 progress
div.progress {
  overflow: hidden;
  border-radius: 2px;
  height: 8px;
  background-color: var(--background-default-secondary-sds-light);
  div.progress-bar {
    height: 100%;
    background-color: var(--brand-shop);
  }
}

main {
  @include flexbox(column, 0px);
  @include flexbox-details(center, center);
}
section.normal-width {
  width: 1140px;
}

span.material-icons {
  vertical-align: middle;
}

div.tag {
  padding: 2px 6px;
  color: #fff;
  display: inline-block;
  width: fit-content;
  border-radius: 4px;
  &.business {
    background-color: var(--brand-shop);
  }
  &.event {
    background-color: var(--brand-event);
  }
  &.venue {
    background-color: var(--brand-venue);
  }
  &.product {
    background-color: var(--brand-product);
  }
  &.hot {
    background-color: rgba($color: #fd0065, $alpha: 0.1);
    color: #fd0065;
  }
  &.plain-tag {
    background-color: none;
    color: var(--text-default-secondary-sds-light);
  }
}

// card 卡片基本樣式
div.card {
  @include flexbox(column, 16px);
  transition: all 0.1s;
  &:hover {
    transform: scale(1.05);
    padding: 0 16px;
  }
  img {
    width: 100%;
    height: 160px;
    object-fit: cover;
    border-radius: 8px;
  }
  div.card-content {
    @include flexbox(column, 4px);

    div.card-title {
      display: block;
      flex-wrap: wrap;

      .card-title-text {
        display: inline;
      }
    }
    div.card-info {
      @include flexbox(column, 4px);
    }
    div.tags-box {
      @include flex-wrap;
    }
  }
}
span.badge {
  font-size: 14px;
  display: flex;
  height: 20px;
  min-width: 20px;
  padding: 0px 6px;
  @include flexbox-details(center, center);
  border-radius: 50%;
  color: #fff;
}

button {
  padding: 2px 8px;
  border: 0;
  font-size: 16px;
  border-radius: 4px;
  &.button-secondary {
    color: #fff;
    background-color: var(--brand-shop);
  }
  &.button-primary {
    color: var(--brand-shop);
    border: 1pt solid var(--brand-shop);
    background: none;
  }
  &.button-big {
    padding: 8px 16px;
  }
}
