@charset "UTF-8";
@import "root.css";
@font-face {
  font-family: "Noto Sans TC";
  src: url(../asset/fonts/NotoSansTC-VariableFont_wght.ttf) format("opentype");
}
@font-face {
  font-family: "Noto Sans TC";
  src: url(../asset/fonts/NotoSansTC-VariableFont_wght.ttf) format("opentype");
}
:root {
  /* COLOR */
  --background-default-default-sds-light: var(--white-1000);
  --background-default-default-sds-dark: var(--gray-900);
  --background-default-secondary-sds-light: var(--gray-100);
  --background-default-secondary-sds-dark: var(--gray-800);
  --background-default-tertiary-sds-light: var(--gray-300);
  --background-default-tertiary-sds-dark: var(--gray-600);
  --background-default-default-hover-sds-light: var(--gray-100);
  --background-default-default-hover-sds-dark: var(--gray-700);
  --background-brand-default-sds-light: var(--brand-800);
  --background-brand-default-sds-dark: var(--brand-100);
  --background-brand-secondary-sds-light: var(--brand-200);
  --background-brand-secondary-sds-dark: var(--brand-600);
  --background-brand-hover-sds-light: var(--brand-900);
  --background-brand-hover-sds-dark: var(--brand-300);
  --background-positive-default-sds-light: var(--green-500);
  --background-positive-default-sds-dark: var(--green-700);
  --background-positive-secondary-sds-light: var(--green-200);
  --background-positive-secondary-sds-dark: var(--green-800);
  --background-positive-hover-sds-light: var(--green-600);
  --background-positive-hover-sds-dark: var(--green-800);
  --background-warning-default-sds-light: var(--yellow-400);
  --background-warning-default-sds-dark: var(--yellow-400);
  --background-warning-secondary-sds-light: var(--yellow-200);
  --background-warning-secondary-sds-dark: var(--yellow-800);
  --background-warning-hover-sds-light: var(--yellow-500);
  --background-warning-hover-sds-dark: var(--yellow-500);
  --background-danger-default-sds-light: var(--red-500);
  --background-danger-default-sds-dark: var(--red-600);
  --background-danger-secondary-sds-light: var(--red-200);
  --background-danger-secondary-sds-dark: var(--red-800);
  --background-danger-hover-sds-light: var(--red-600);
  --background-danger-hover-sds-dark: var(--red-700);
  --background-disabled-default-sds-light: var(--brand-300);
  --background-disabled-default-sds-dark: var(--brand-700);
  --text-default-default-sds-light: var(--gray-600);
  --text-default-default-sds-dark: var(--white-1000);
  --text-default-secondary-sds-light: var(--gray-500);
  --text-default-secondary-sds-dark: var(--white-500);
  --text-default-tertiary-sds-light: var(--gray-400);
  --text-default-tertiary-sds-dark: var(--white-400);
  --text-brand-default-sds-light: var(--brand-800);
  --text-brand-default-sds-dark: var(--brand-100);
  --text-brand-secondary-sds-light: var(--brand-600);
  --text-brand-secondary-sds-dark: var(--brand-300);
  --text-brand-tertiary-sds-light: var(--brand-500);
  --text-brand-tertiary-sds-dark: var(--brand-400);
  --text-brand-on-brand-sds-light: var(--brand-100);
  --text-brand-on-brand-sds-dark: var(--brand-900);
  --text-brand-on-brand-secondary-sds-light: var(--brand-900);
  --text-brand-on-brand-secondary-sds-dark: var(--brand-100);
  --text-positive-default-sds-light: var(--green-800);
  --text-positive-default-sds-dark: var(--green-200);
  --text-positive-secondary-sds-light: var(--green-600);
  --text-positive-secondary-sds-dark: var(--green-400);
  --text-positive-tertiary-sds-light: var(--green-500);
  --text-positive-tertiary-sds-dark: var(--green-600);
  --text-positive-on-positive-sds-light: var(--green-100);
  --text-positive-on-positive-sds-dark: var(--green-100);
  --text-positive-on-positive-secondary-sds-light: var(--green-800);
  --text-positive-on-positive-secondary-sds-dark: var(--green-100);
  --text-warning-default-sds-light: var(--yellow-900);
  --text-warning-default-sds-dark: var(--yellow-200);
  --text-warning-secondary-sds-light: var(--yellow-700);
  --text-warning-secondary-sds-dark: var(--yellow-400);
  --text-warning-tertiary-sds-light: var(--yellow-600);
  --text-warning-tertiary-sds-dark: var(--yellow-600);
  --text-warning-on-warning-sds-light: var(--yellow-1000);
  --text-warning-on-warning-sds-dark: var(--yellow-1000);
  --text-warning-on-warning-secondary-sds-light: var(--yellow-800);
  --text-warning-on-warning-secondary-sds-dark: var(--yellow-100);
  --text-danger-default-sds-light: var(--red-700);
  --text-danger-default-sds-dark: var(--red-200);
  --text-danger-secondary-sds-light: var(--red-600);
  --text-danger-secondary-sds-dark: var(--red-400);
  --text-danger-tertiary-sds-light: var(--red-500);
  --text-danger-tertiary-sds-dark: var(--red-500);
  --text-danger-on-danger-sds-light: var(--red-100);
  --text-danger-on-danger-sds-dark: var(--red-100);
  --text-danger-on-danger-secondary-sds-light: var(--red-700);
  --text-danger-on-danger-secondary-sds-dark: var(--red-100);
  --text-disabled-default-sds-light: var(--brand-400);
  --text-disabled-default-sds-dark: var(--brand-500);
  --text-disabled-on-disabled-sds-light: var(--brand-400);
  --text-disabled-on-disabled-sds-dark: var(--brand-400);
  --icon-default-default-sds-light: var(--gray-900);
  --icon-default-default-sds-dark: var(--white-1000);
  --icon-default-secondary-sds-light: var(--gray-500);
  --icon-default-secondary-sds-dark: var(--white-500);
  --icon-default-tertiary-sds-light: var(--gray-400);
  --icon-default-tertiary-sds-dark: var(--white-400);
  --icon-brand-default-sds-light: var(--brand-800);
  --icon-brand-default-sds-dark: var(--brand-100);
  --icon-brand-secondary-sds-light: var(--brand-600);
  --icon-brand-secondary-sds-dark: var(--brand-300);
  --icon-brand-tertiary-sds-light: var(--brand-500);
  --icon-brand-tertiary-sds-dark: var(--brand-400);
  --icon-brand-on-brand-sds-light: var(--brand-100);
  --icon-brand-on-brand-sds-dark: var(--brand-900);
  --icon-brand-on-brand-secondary-sds-light: var(--brand-900);
  --icon-brand-on-brand-secondary-sds-dark: var(--brand-100);
  --icon-positive-default-sds-light: var(--green-800);
  --icon-positive-default-sds-dark: var(--green-200);
  --icon-positive-secondary-sds-light: var(--green-600);
  --icon-positive-secondary-sds-dark: var(--green-400);
  --icon-positive-tertiary-sds-light: var(--green-500);
  --icon-positive-tertiary-sds-dark: var(--green-600);
  --icon-positive-on-positive-sds-light: var(--green-100);
  --icon-positive-on-positive-sds-dark: var(--green-100);
  --icon-positive-on-positive-secondary-sds-light: var(--green-800);
  --icon-positive-on-positive-secondary-sds-dark: var(--green-100);
  --icon-warning-default-sds-light: var(--yellow-900);
  --icon-warning-default-sds-dark: var(--yellow-200);
  --icon-warning-secondary-sds-light: var(--yellow-700);
  --icon-warning-secondary-sds-dark: var(--yellow-400);
  --icon-warning-tertiary-sds-light: var(--yellow-600);
  --icon-warning-tertiary-sds-dark: var(--yellow-600);
  --icon-warning-on-warning-sds-light: var(--yellow-1000);
  --icon-warning-on-warning-sds-dark: var(--yellow-1000);
  --icon-warning-on-warning-secondary-sds-light: var(--yellow-800);
  --icon-warning-on-warning-secondary-sds-dark: var(--yellow-100);
  --icon-danger-default-sds-light: var(--red-700);
  --icon-danger-default-sds-dark: var(--red-200);
  --icon-danger-secondary-sds-light: var(--red-600);
  --icon-danger-secondary-sds-dark: var(--red-400);
  --icon-danger-tertiary-sds-light: var(--red-500);
  --icon-danger-tertiary-sds-dark: var(--red-500);
  --icon-danger-on-danger-sds-light: var(--red-100);
  --icon-danger-on-danger-sds-dark: var(--red-100);
  --icon-danger-on-danger-secondary-sds-light: var(--red-700);
  --icon-danger-on-danger-secondary-sds-dark: var(--red-100);
  --icon-disabled-default-sds-light: var(--brand-400);
  --icon-disabled-default-sds-dark: var(--brand-500);
  --icon-disabled-on-disabled-sds-light: var(--brand-400);
  --icon-disabled-on-disabled-sds-dark: var(--brand-400);
  --border-default-default-sds-light: var(--gray-300);
  --border-default-default-sds-dark: var(--gray-600);
  --border-default-secondary-sds-light: var(--gray-500);
  --border-default-secondary-sds-dark: var(--gray-500);
  --border-brand-default-sds-light: var(--brand-800);
  --border-brand-default-sds-dark: var(--brand-100);
  --border-brand-secondary-sds-light: var(--brand-600);
  --border-brand-secondary-sds-dark: var(--brand-300);
  --border-positive-default-sds-light: var(--green-800);
  --border-positive-default-sds-dark: var(--green-200);
  --border-positive-secondary-sds-light: var(--green-600);
  --border-positive-secondary-sds-dark: var(--green-400);
  --border-warning-default-sds-light: var(--yellow-900);
  --border-warning-default-sds-dark: var(--yellow-200);
  --border-warning-secondary-sds-light: var(--yellow-700);
  --border-warning-secondary-sds-dark: var(--yellow-400);
  --border-danger-default-sds-light: var(--red-700);
  --border-danger-default-sds-dark: var(--red-200);
  --border-danger-secondary-sds-light: var(--red-600);
  --border-danger-secondary-sds-dark: var(--red-400);
  --border-disabled-default-sds-light: var(--brand-400);
  --border-disabled-default-sds-dark: var(--brand-600);
  --background-brand-secondary-hover-sds-light: var(--brand-300);
  --background-brand-secondary-hover-sds-dark: var(--brand-500);
  --background-utilities-scrim-sds-light: rgba(255 255 255 / 0.8);
  --background-utilities-scrim-sds-dark: rgba(0 0 0 / 0.8);
  --background-utilities-overlay-sds-light: rgba(0 0 0 / 0.5);
  --background-utilities-overlay-sds-dark: rgba(0 0 0 / 0.5);
  --text-utilities-text-on-overlay-sds-light: var(--black-1000);
  --text-utilities-text-on-overlay-sds-dark: var(--white-1000);
  --background-brand-tertiary-sds-light: var(--brand-100);
  --background-brand-tertiary-sds-dark: var(--brand-600);
  --text-brand-on-brand-tertiary-sds-light: var(--brand-800);
  --text-brand-on-brand-tertiary-sds-dark: var(--brand-100);
  --background-brand-tertiary-hover-sds-light: var(--brand-200);
  --background-brand-tertiary-hover-sds-dark: var(--brand-800);
  --background-default-secondary-hover-sds-light: var(--gray-200);
  --background-default-secondary-hover-sds-dark: var(--gray-900);
  --background-default-tertiary-hover-sds-light: var(--gray-400);
  --background-default-tertiary-hover-sds-dark: var(--gray-700);
  --background-positive-secondary-hover-sds-light: var(--green-300);
  --background-positive-secondary-hover-sds-dark: var(--green-900);
  --background-warning-secondary-hover-sds-light: var(--yellow-300);
  --background-warning-secondary-hover-sds-dark: var(--yellow-900);
  --background-danger-secondary-hover-sds-light: var(--red-300);
  --background-danger-secondary-hover-sds-dark: var(--red-900);
  --icon-brand-on-brand-tertiary-sds-light: var(--brand-800);
  --icon-brand-on-brand-tertiary-sds-dark: var(--brand-100);
  --icon-warning-on-warning-tertiary-sds-light: var(--yellow-900);
  --icon-warning-on-warning-tertiary-sds-dark: var(--yellow-100);
  --icon-danger-on-danger-tertiary-sds-light: var(--red-700);
  --icon-danger-on-danger-tertiary-sds-dark: var(--red-100);
  --icon-positive-on-positive-tertiary-sds-light: var(--green-900);
  --icon-positive-on-positive-tertiary-sds-dark: var(--green-100);
  --background-positive-tertiary-sds-light: var(--green-100);
  --background-positive-tertiary-sds-dark: var(--green-900);
  --background-positive-tertiary-hover-sds-light: var(--green-200);
  --background-positive-tertiary-hover-sds-dark: var(--green-1000);
  --background-warning-tertiary-sds-light: var(--yellow-100);
  --background-warning-tertiary-sds-dark: var(--yellow-900);
  --background-warning-tertiary-hover-sds-light: var(--yellow-200);
  --background-warning-tertiary-hover-sds-dark: var(--yellow-1000);
  --background-danger-tertiary-sds-light: var(--red-100);
  --background-danger-tertiary-sds-dark: var(--red-900);
  --background-danger-tertiary-hover-sds-light: var(--red-200);
  --background-danger-tertiary-hover-sds-dark: var(--red-1000);
  --text-warning-on-warning-tertiary-sds-light: var(--yellow-900);
  --text-warning-on-warning-tertiary-sds-dark: var(--yellow-100);
  --text-danger-on-danger-tertiary-sds-light: var(--red-700);
  --text-danger-on-danger-tertiary-sds-dark: var(--red-100);
  --text-positive-on-positive-tertiary-sds-light: var(--green-800);
  --text-positive-on-positive-tertiary-sds-dark: var(--green-100);
  --background-utilities-blanket-sds-light: rgba(0 0 0 / 0.7);
  --background-utilities-blanket-sds-dark: rgba(0 0 0 / 0.7);
  --background-utilities-measurement-sds-light: var(--pink-200);
  --background-utilities-measurement-sds-dark: var(--pink-800);
  --text-utilities-text-on-measurement-sds-light: var(--pink-800);
  --text-utilities-text-on-measurement-sds-dark: var(--pink-200);
  --border-utilities-measurement-sds-light: var(--pink-400);
  --border-utilities-measurement-sds-dark: var(--pink-600);
  --background-neutral-default-sds-light: var(--slate-700);
  --background-neutral-default-sds-dark: var(--slate-400);
  --background-neutral-hover-sds-light: var(--slate-800);
  --background-neutral-hover-sds-dark: var(--slate-500);
  --background-neutral-secondary-sds-light: var(--slate-300);
  --background-neutral-secondary-sds-dark: var(--slate-900);
  --background-neutral-secondary-hover-sds-light: var(--slate-400);
  --background-neutral-secondary-hover-sds-dark: var(--slate-1000);
  --background-neutral-tertiary-sds-light: var(--slate-200);
  --background-neutral-tertiary-sds-dark: var(--slate-900);
  --background-neutral-tertiary-hover-sds-light: var(--slate-300);
  --background-neutral-tertiary-hover-sds-dark: var(--slate-1000);
  --text-neutral-default-sds-light: var(--slate-900);
  --text-neutral-default-sds-dark: var(--slate-200);
  --text-neutral-secondary-sds-light: var(--slate-700);
  --text-neutral-secondary-sds-dark: var(--slate-300);
  --text-neutral-tertiary-sds-light: var(--slate-600);
  --text-neutral-tertiary-sds-dark: var(--slate-400);
  --text-neutral-on-neutral-sds-light: var(--slate-100);
  --text-neutral-on-neutral-sds-dark: var(--slate-1000);
  --text-neutral-on-neutral-secondary-sds-light: var(--slate-900);
  --text-neutral-on-neutral-secondary-sds-dark: var(--slate-100);
  --text-neutral-on-neutral-tertiary-sds-light: var(--slate-800);
  --text-neutral-on-neutral-tertiary-sds-dark: var(--slate-100);
  --icon-neutral-default-sds-light: var(--slate-900);
  --icon-neutral-default-sds-dark: var(--slate-200);
  --icon-neutral-secondary-sds-light: var(--slate-700);
  --icon-neutral-secondary-sds-dark: var(--slate-300);
  --icon-neutral-tertiary-sds-light: var(--slate-600);
  --icon-neutral-tertiary-sds-dark: var(--slate-400);
  --icon-neutral-on-neutral-sds-light: var(--slate-100);
  --icon-neutral-on-neutral-sds-dark: var(--slate-1000);
  --icon-neutral-on-neutral-secondary-sds-light: var(--slate-900);
  --icon-neutral-on-neutral-secondary-sds-dark: var(--slate-100);
  --icon-neutral-on-neutral-tertiary-sds-light: var(--slate-800);
  --icon-neutral-on-neutral-tertiary-sds-dark: var(--slate-100);
  --border-neutral-default-sds-light: var(--slate-900);
  --border-neutral-default-sds-dark: var(--slate-100);
  --border-neutral-secondary-sds-light: var(--slate-600);
  --border-neutral-secondary-sds-dark: var(--slate-500);
  --border-default-tertiary-sds-light: var(--gray-700);
  --border-default-tertiary-sds-dark: var(--gray-400);
  --border-neutral-tertiary-sds-light: var(--slate-400);
  --border-neutral-tertiary-sds-dark: var(--slate-600);
  --border-brand-tertiary-sds-light: var(--brand-500);
  --border-brand-tertiary-sds-dark: var(--brand-400);
  --border-positive-tertiary-sds-light: var(--green-500);
  --border-positive-tertiary-sds-dark: var(--green-600);
  --border-warning-tertiary-sds-light: var(--yellow-600);
  --border-warning-tertiary-sds-dark: var(--yellow-600);
  --border-danger-tertiary-sds-light: var(--red-500);
  --border-danger-tertiary-sds-dark: var(--red-500);
  --icon-utilities-icon-on-measurement-sds-light: var(--pink-800);
  --icon-utilities-icon-on-measurement-sds-dark: var(--pink-200);
  --border-utilities-swatch-sds-light: rgba(0 0 0 / 0.24);
  --border-utilities-swatch-sds-dark: rgba(255 255 255 / 0.24);
  --icon-utilities-icon-sds-light: var(--pink-600);
  --icon-utilities-icon-sds-dark: var(--pink-400);
  /* COLOR PRIMITIVES */
  --slate-100: #f3f3f3;
  --slate-200: #e3e3e3;
  --slate-300: #cdcdcd;
  --slate-400: #b2b2b2;
  --slate-500: #949494;
  --slate-600: #767676;
  --slate-700: #5a5a5a;
  --slate-800: #434343;
  --slate-900: #303030;
  --slate-1000: #242424;
  --white-100: rgba(255 255 255 / 0.05);
  --white-200: rgba(255 255 255 / 0.1);
  --white-300: rgba(255 255 255 / 0.2);
  --white-400: rgba(255 255 255 / 0.4);
  --white-500: rgba(255 255 255 / 0.7);
  --white-600: rgba(255 255 255 / 0.8);
  --white-700: rgba(255 255 255 / 0.85);
  --white-800: rgba(255 255 255 / 0.9);
  --white-900: rgba(255 255 255 / 0.95);
  --white-1000: #ffffff;
  --brand-100: #f5f5f5;
  --brand-200: #e6e6e6;
  --brand-300: #d9d9d9;
  --brand-400: #b3b3b3;
  --brand-500: #757575;
  --brand-600: #444444;
  --brand-700: #383838;
  --brand-800: #2c2c2c;
  --brand-900: #1e1e1e;
  --brand-1000: #111111;
  --red-100: #fee9e7;
  --red-200: #fdd3d0;
  --red-300: #fcb3ad;
  --red-400: #f4776a;
  --red-500: #ec221f;
  --red-600: #c00f0c;
  --red-700: #900b09;
  --red-800: #690807;
  --red-900: #4d0b0a;
  --red-1000: #300603;
  --yellow-100: #fffbeb;
  --yellow-200: #fff1c2;
  --yellow-300: #ffe8a3;
  --yellow-400: #e8b931;
  --yellow-500: #e5a000;
  --yellow-600: #bf6a02;
  --yellow-700: #975102;
  --yellow-800: #682d03;
  --yellow-900: #522504;
  --yellow-1000: #401b01;
  --green-100: #ebffee;
  --green-200: #cff7d3;
  --green-300: #aff4c6;
  --green-400: #85e0a3;
  --green-500: #14ae5c;
  --green-600: #009951;
  --green-700: #008043;
  --green-800: #02542d;
  --green-900: #024023;
  --green-1000: #062d1b;
  --black-100: rgba(12 12 13 / 0.05);
  --black-200: rgba(12 12 13 / 0.1);
  --black-300: rgba(12 12 13 / 0.2);
  --black-400: rgba(12 12 13 / 0.4);
  --black-500: rgba(12 12 13 / 0.7);
  --black-600: rgba(12 12 13 / 0.8);
  --black-700: rgba(12 12 13 / 0.85);
  --black-800: rgba(12 12 13 / 0.9);
  --black-900: rgba(12 12 13 / 0.95);
  --black-1000: #0c0c0d;
  --pink-100: #fcf1fd;
  --pink-200: #fae1fa;
  --pink-300: #f5c0ef;
  --pink-400: #f19edc;
  --pink-500: #ea3fb8;
  --pink-600: #d732a8;
  --pink-700: #ba2a92;
  --pink-800: #8a226f;
  --pink-900: #57184a;
  --pink-1000: #3f1536;
  --gray-100: #fefefe;
  --gray-200: #e6e6e6;
  --gray-300: #d9d9d9;
  --gray-400: #b3b3b3;
  --gray-500: #757575;
  --gray-600: #444444;
  --gray-700: #383838;
  --gray-800: #2c2c2c;
  --gray-900: #1e1e1e;
  --gray-1000: #111111;
  /* 我自己定義ㄉcolor */
  --brand-shop: #2c95c6;
  --brand-shop-tint: #e5ecf0;
  --brand-event: #a6df20;
  --brand-venue: #1aa355;
  --brand-product: #f9cb00;
  /* TYPOGRAPHY PRIMITIVES */
  --weight-thin: 100;
  --weight-extra-light: 200;
  --weight-light: 300;
  --weight-regular: 400;
  --weight-medium: 500;
  --weight-semibold: 600;
  --weight-bold: 700;
  --weight-extra-bold: 800;
  --weight-black: 900;
  --scale-10: 72px;
  --scale-10-rem: 4.5rem;
  --scale-09: 64px;
  --scale-09-rem: 4rem;
  --scale-08: 48px;
  --scale-08-rem: 3rem;
  --scale-07: 40px;
  --scale-07-rem: 2.5rem;
  --scale-06: 32px;
  --scale-06-rem: 2rem;
  --scale-05: 24px;
  --scale-05-rem: 1.5rem;
  --scale-04: 20px;
  --scale-04-rem: 1.25rem;
  --scale-03: 16px;
  --scale-03-rem: 1rem;
  --scale-02: 14px;
  --scale-02-rem: 0.875rem;
  --scale-01: 12px;
  --scale-01-rem: 0.75rem;
  --family-sans: "Inter";
  --family-serif: "Noto Serif";
  --family-mono: "Roboto Mono";
  --weight-light-italic: "Light Italic";
  --weight-regular-italic: "Italic";
  --weight-bold-italic: "Bold Italic";
  --weight-thin-italic: "Thin Italic";
  --weight-extralight-italic: "Extra Light Italic";
  --weight-medium-italic: "Medium Italic";
  --weight-semibold-italic: "Semi Bold Italic";
  --weight-extra-bold-italic: "Extra Bold Italic";
  --weight-black-italic: "Black Italic";
  /* RESPONSIVE */
  --device-width-desktop: 1200px;
  --device-width-rem-desktop: 75rem;
  --device-width-mobile: 375px;
  --device-width-rem-mobile: 23.4375rem;
  --device-width-tablet: 768px;
  --device-width-rem-tablet: 48rem;
  --root-font-size-desktop: var(--scale-03);
  --root-font-size-mobile: var(--scale-03);
  --root-font-size-tablet: var(--scale-03);
  --scale-desktop: 1px;
  --scale-rem-desktop: 0.0625rem;
  --scale-mobile: 1.25px;
  --scale-rem-mobile: 0.0781rem;
  --scale-tablet: 1px;
  --scale-rem-tablet: 0.0625rem;
  --device-desktop: "desktop";
  --device-mobile: "mobile";
  --device-tablet: "tablet";
  /* SIZE */
  --space-100: 4px;
  --space-100-rem: 0.25rem;
  --space-200: 8px;
  --space-200-rem: 0.5rem;
  --space-300: 12px;
  --space-300-rem: 0.75rem;
  --space-400: 16px;
  --space-400-rem: 1rem;
  --space-600: 24px;
  --space-600-rem: 1.5rem;
  --space-negative-100: -4px;
  --space-negative-100-rem: -0.25rem;
  --space-negative-200: -8px;
  --space-negative-200-rem: -0.5rem;
  --space-negative-300: -12px;
  --space-negative-300-rem: -0.75rem;
  --space-negative-400: -16px;
  --space-negative-400-rem: -1rem;
  --space-negative-600: -24px;
  --space-negative-600-rem: -1.5rem;
  --radius-100: 4px;
  --radius-100-rem: 0.25rem;
  --radius-200: 8px;
  --radius-200-rem: 0.5rem;
  --radius-400: 16px;
  --radius-400-rem: 1rem;
  --depth-0: 0px;
  --depth-0-rem: 0rem;
  --depth-025: 1px;
  --depth-025-rem: 0.0625rem;
  --depth-100: 4px;
  --depth-100-rem: 0.25rem;
  --depth-200: 8px;
  --depth-200-rem: 0.5rem;
  --depth-400: 16px;
  --depth-400-rem: 1rem;
  --depth-800: 32px;
  --depth-800-rem: 2rem;
  --depth-1200: 48px;
  --depth-1200-rem: 3rem;
  --depth-negative-025: -1px;
  --depth-negative-025-rem: -0.0625rem;
  --depth-negative-100: -4px;
  --depth-negative-100-rem: -0.25rem;
  --depth-negative-200: -8px;
  --depth-negative-200-rem: -0.5rem;
  --depth-negative-400: -16px;
  --depth-negative-400-rem: -1rem;
  --depth-negative-800: -32px;
  --depth-negative-800-rem: -2rem;
  --depth-negative-1200: -48px;
  --depth-negative-1200-rem: -3rem;
  --radius-full: 9999px;
  --radius-full-rem: 624.9375rem;
  --space-1600: 64px;
  --space-1600-rem: 4rem;
  --stroke-border: 1px;
  --stroke-border-rem: 0.0625rem;
  --stroke-focus-ring: 2px;
  --stroke-focus-ring-rem: 0.125rem;
  --blur-100: 4px;
  --blur-100-rem: 0.25rem;
  --space-4000: 160px;
  --space-4000-rem: 10rem;
  --space-800: 32px;
  --space-800-rem: 2rem;
  --space-1200: 48px;
  --space-1200-rem: 3rem;
  --space-2400: 96px;
  --space-2400-rem: 6rem;
  --space-0: 0px;
  --space-0-rem: 0rem;
  --space-050: 2px;
  --space-050-rem: 0.125rem;
  --space-150: 6px;
  --space-150-rem: 0.375rem;
  --icon-small: 24px;
  --icon-small-rem: 1.5rem;
  --icon-medium: 32px;
  --icon-medium-rem: 2rem;
  --icon-large: 40px;
  --icon-large-rem: 2.5rem;
  /* TYPOGRAPHY */
  --title-page-font-family: var(--family-sans);
  --title-page-font-weight: var(--weight-bold);
  --title-page-size-small: var(--scale-07);
  --subtitle-font-family: var(--family-sans);
  --subtitle-size-base: var(--scale-06);
  --subtitle-font-weight: var(--weight-regular);
  --body-font-family: var(--family-sans);
  --body-size-medium: var(--scale-03);
  --body-font-weight-regular: var(--weight-regular);
  --code-font-family: var(--family-mono);
  --code-size-base: var(--body-size-medium);
  --code-font-weight: var(--body-font-weight-regular);
  --heading-font-family: var(--family-sans);
  --heading-size-base: var(--scale-05);
  --heading-font-weight: var(--weight-semibold);
  --title-hero-font-family: var(--family-sans);
  --title-hero-size: var(--scale-10);
  --title-hero-font-weight: var(--weight-bold);
  --title-page-size-base: var(--scale-08);
  --title-page-size-large: var(--scale-09);
  --subtitle-size-large: var(--scale-07);
  --subtitle-size-small: var(--scale-05);
  --heading-size-large: var(--scale-06);
  --heading-size-small: var(--scale-04);
  --body-size-large: var(--scale-04);
  --body-size-small: var(--scale-02);
  --code-size-large: var(--body-size-large);
  --code-size-small: var(--body-size-small);
  --body-font-weight-strong: var(--weight-semibold);
  --body-font-style-italic: var(--weight-regular-italic);
  --subheading-font-family: var(--family-sans);
  --subheading-size-small: var(--scale-03);
  --subheading-size-medium: var(--scale-04);
  --subheading-size-large: var(--scale-05);
  --subheading-font-weight: var(--weight-regular);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Noto Sans TC";
}

body {
  color: var(--text-default-default-sds-light);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600; /* 或 600 */
  margin: 0.4em 0;
}

.-hidden {
  display: none !important;
  visibility: hidden;
  width: 0;
  height: 0;
}

[clickable] {
  cursor: pointer;
}

.bgcolor-business {
  background-color: var(--brand-business) !important;
}
.bgcolor-event {
  background-color: var(--brand-event) !important;
}
.bgcolor-venue {
  background-color: var(--brand-venue) !important;
}
.bgcolor-product {
  background-color: var(--brand-product) !important;
}

.clear-shadow {
  box-shadow: none;
}

span.material-symbols-outlined {
  vertical-align: middle;
}

input.solo,
textarea.solo {
  font-family: "Noto Sans TC";
  font-weight: 400;
  font-size: 12pt;
  line-height: 140%;
  text-decoration: none;
  letter-spacing: normal;
  padding: 8px 8px;
  height: 40px;
  border: 1px solid var(--border-default-default-sds-light);
  border-radius: 4px;
}
input.solo:focus,
textarea.solo:focus {
  outline-color: var(--border-default-secondary-sds-light);
}

label.label-input {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
fieldset {
  display: flex;
  flex-direction: column;
  gap: 16px;
  border-radius: 8px;
  border: 1px solid var(--border-default-default-sds-light);
  padding: 16px;
  margin-top: 16px;
}

div.textfield {
  width: 240px;
  height: 40px;
  border: 1px solid var(--border-default-default-sds-light);
  border-radius: 4px;
  padding: 8px 8px;
  display: flex;
  flex-direction: row;
  gap: normal;
  align-items: center;
  justify-content: stretch;
}
div.textfield.focus {
  outline: 1pt solid var(--border-default-secondary-sds-light);
}
div.textfield input {
  display: inline;
  padding: 0;
  width: 100%;
  outline: none;
  border-style: none;
  background: none;
}

select.solo {
  font-family: "Noto Sans TC";
  font-weight: 400;
  font-size: 12pt;
  line-height: 140%;
  text-decoration: none;
  letter-spacing: normal;
  padding: 8px 8px;
  height: 40px;
  border: 1px solid var(--border-default-default-sds-light);
  border-radius: 4px;
}
select.solo:focus {
  outline-color: var(--border-default-secondary-sds-light);
}

div.progress {
  overflow: hidden;
  border-radius: 2px;
  height: 8px;
  background-color: var(--background-default-secondary-sds-light);
}
div.progress div.progress-bar {
  height: 100%;
  background-color: var(--brand-shop);
}

main {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: center;
}

.normal-width {
  width: 1140px;
}

.narrow-width {
  width: 600px;
}

span.material-icons {
  vertical-align: middle;
}

div.tag {
  padding: 2px 6px;
  color: #fff;
  display: inline-block;
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 4px;
}
div.tag.business {
  background-color: var(--brand-shop);
}
div.tag.event {
  background-color: var(--brand-event);
}
div.tag.venue {
  background-color: var(--brand-venue);
}
div.tag.product {
  background-color: var(--brand-product);
}
div.tag.hot {
  background-color: rgba(253, 0, 101, 0.1);
  color: #fd0065;
}
div.tag.plain-tag {
  background-color: none;
  color: var(--text-default-secondary-sds-light);
}

div.card {
  display: flex;
  flex-direction: column;
  gap: 16px;
  transition: all 0.1s;
}
div.card:hover {
  transform: scale(1.02);
}
div.card img {
  width: 100%;
  height: 160px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 8px;
}
div.card div.card-content {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
div.card div.card-content div.card-title {
  display: block;
  flex-wrap: wrap;
}
div.card div.card-content div.card-title .card-title-text {
  display: inline;
}
div.card div.card-content div.card-info {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
div.card div.card-content div.tags-box {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

span.badge {
  font-size: 14px;
  display: flex;
  height: 20px;
  min-width: 20px;
  padding: 0px 6px;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  color: #fff;
}

button {
  padding: 4px 8px;
  border: 0;
  display: flex;
  flex-direction: row;
  gap: 4px;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  border-radius: 4px;
}
button.button-primary {
  color: #fff;
  background-color: var(--brand-shop);
}
button.button-secondary {
  color: var(--brand-shop);
  border: 1pt solid var(--brand-shop);
  background: none;
}
button.button-tertiary {
  border: 1pt solid var(--border-default-default-sds-light);
  color: var(--text-default-secondary-sds-light);
}
button.button-big {
  padding: 8px 16px;
}
button.button-big-icon {
  padding: 8px;
}

div.pop-up-container {
  position: absolute;
  top: 72px;
  visibility: hidden;
}
div.pop-up-container div.pop-up {
  position: fixed;
  border: 1px solid gray;
  width: 400px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 20px;
  background-color: var(--background-default-default-sds-light);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
div.pop-up-container div.pop-up .button-bar {
  display: flex;
  flex-direction: row;
  gap: 4px;
}
div.pop-up-container div.pop-up .button-bar button {
  flex: 1;
}
div.pop-up-container div.pop-up-mask {
  position: fixed;
  height: calc(100dvh - 72px);
  width: 100%;
  background-color: rgba(0, 0, 0, 0.15);
}
div.pop-up-container.-active {
  visibility: visible;
}

.flex {
  display: flex;
}

.inline-b {
  display: inline-block;
}

.flex-auto {
  flex: auto;
}

.flex-1 {
  flex: 1;
}

.flex-2 {
  flex: 2;
}

.flex-3 {
  flex: 3;
}

.row {
  display: flex;
  flex-direction: row;
  gap: 8px;
}

.margin-b-20 {
  margin-bottom: 20px;
}

#carouselContainer {
  position: relative;
  width: 100%; /* 設定容器的寬度 */
  margin: auto;
  overflow: hidden; /* 隱藏超出部分 */
  /* 使用 CSS 變數指定高度 */
  height: var(--carousel-height, 400px); /* 默認高度為 400px */
}
#carouselContainer .carousel {
  display: flex;
  transition: transform 0.5s ease-in-out;
  width: 100%; /* 確保 carousel 使用 100% 寬度 */
}
#carouselContainer .carousel .carousel-item {
  min-width: 100%; /* 每個圖片佔滿一個屏幕寬度 */
  height: 100%; /* 高度自適應父容器 */
  background-size: cover; /* 背景圖像覆蓋容器 */
  background-position: center; /* 圖片居中 */
  position: relative;
}
#carouselContainer .carousel .carousel-item img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover; /* 圖片覆蓋容器並保持比例 */
}
#carouselContainer .carousel-control {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  font-size: 24px; /* 設定較大字型 */
  padding: 10px;
  cursor: pointer;
  z-index: 4;
}
#carouselContainer .carousel-control.prev {
  left: 10px; /* 左側按鈕 */
}
#carouselContainer .carousel-control.next {
  right: 10px; /* 右側按鈕 */
}
#carouselContainer .carousel-control:hover {
  background-color: rgba(0, 0, 0, 0.8); /* 滑鼠懸停時變深 */
}

.info-card-outline {
  padding: 16px;
  border: 1px solid var(--border-default-default-sds-light);
  border-radius: 8px;
}
.info-card-outline .info-card-horizontal {
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: center;
  justify-content: flex-start;
}
.info-card-outline .info-card-horizontal .icon-box {
  border-radius: 100%;
  width: 48px;
  height: 48px;
  background-color: var(--brand-shop-tint);
  color: var(--brand-shop);
  padding: 4px;
}
.info-card-outline .info-card-horizontal .icon-box span {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

table {
  width: 100%;
  border-collapse: collapse;
  text-align: left;
  border-radius: 4px;
  outline: 1px solid var(--brand-shop-tint);
}
table thead {
  font-family: "Noto Sans TC";
  font-weight: 400;
  font-size: 12pt;
  line-height: 140%;
  text-decoration: none;
  letter-spacing: normal;
  background-color: var(--brand-shop-tint);
}
table tbody {
  background-color: var(--background-default-secondary-sds-light);
}
table tbody tr {
  border-bottom: 1px solid var(--brand-shop-tint);
}
table tbody tr:last-child {
  border: none;
}
table th,
table td {
  padding: 8px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Noto Sans TC";
}

html {
  overflow: hidden;
}

div.bs-navbar {
  display: inline-block;
  width: 220px;
  padding: 16px 16px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  gap: normal;
  align-items: stretch;
  justify-content: space-between;
  border-right: 1px solid var(--border-default-default-sds-light);
}
div.bs-navbar hr {
  border: 1px solid var(--border-default-default-sds-light);
}
div.bs-navbar div.bs-navbar-main {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
div.bs-navbar div.bs-navbar-main div.bs-navbar-logo {
  padding: 0px 12px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: end;
  justify-content: center;
}
div.bs-navbar div.bs-navbar-main div.bs-navbar-logo img {
  width: 100%;
}
div.bs-navbar div.bs-navbar-main div.bs-navbar-logo div.link-button {
  display: flex;
  flex-direction: row;
  gap: normal;
  align-items: center;
  justify-content: start;
  color: var(--text-default-secondary-sds-light);
}
div.bs-navbar div.bs-navbar-main div.bs-navbar-logo div.link-button a {
  color: var(--text-default-secondary-sds-light);
}
div.bs-navbar div.bs-navbar-main nav > ul {
  list-style: none;
}
div.bs-navbar div.bs-navbar-main nav > ul li.bs-navbar-item div.bs-navbar-header {
  position: relative;
  padding: 8px 12px;
  display: flex;
  flex-direction: row;
  gap: 8px;
  color: var(--text-default-secondary-sds-light);
}
div.bs-navbar div.bs-navbar-main nav > ul li.bs-navbar-item div.bs-navbar-header a {
  text-decoration: none;
  color: var(--text-default-secondary-sds-light);
}
div.bs-navbar div.bs-navbar-main nav > ul li.bs-navbar-item div.bs-navbar-header.-open {
  color: var(--text-default-default-sds-light);
}
div.bs-navbar div.bs-navbar-main nav > ul li.bs-navbar-item div.bs-navbar-header.-open span {
  color: var(--brand-shop);
}
div.bs-navbar div.bs-navbar-main nav > ul li.bs-navbar-item div.bs-navbar-header.-open a {
  font-weight: bold;
  color: var(--brand-shop);
}
div.bs-navbar div.bs-navbar-main nav > ul li.bs-navbar-item div.bs-navbar-header:hover {
  color: var(--text-default-default-sds-light);
}
div.bs-navbar div.bs-navbar-main nav > ul li.bs-navbar-item div.bs-navbar-header:hover span {
  color: var(--brand-shop);
}
div.bs-navbar div.bs-navbar-main nav > ul li.bs-navbar-item div.bs-navbar-header:hover a {
  color: var(--brand-shop);
}
div.bs-navbar div.bs-navbar-main nav > ul li.bs-navbar-item div.bs-navbar-header::before {
  content: "";
  transition: all 0.3s;
  position: absolute;
  top: 0;
  left: -24px;
  width: 8px;
  height: 100%;
}
div.bs-navbar div.bs-navbar-main nav > ul li.bs-navbar-item div.bs-navbar-header.-open::before {
  border-radius: 0 8px 8px 0;
  left: -16px;
  background-color: var(--brand-shop);
}
div.bs-navbar div.bs-navbar-main nav > ul li.bs-navbar-item ul.bs-navbar-submenu {
  list-style: none;
  max-height: 0; /* 初始高度為 0 */
  overflow: hidden; /* 隱藏內容 */
  position: relative;
  transition: none;
}
div.bs-navbar div.bs-navbar-main nav > ul li.bs-navbar-item ul.bs-navbar-submenu a {
  visibility: hidden;
  text-decoration: none;
  color: var(--text-default-secondary-sds-light);
}
div.bs-navbar div.bs-navbar-main nav > ul li.bs-navbar-item ul.bs-navbar-submenu.-open {
  opacity: 1;
  max-height: 500px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  transition: max-height 0.9s ease-out; /* 動畫過渡效果 */
}
div.bs-navbar div.bs-navbar-main nav > ul li.bs-navbar-item ul.bs-navbar-submenu.-open::before {
  content: "";
  position: absolute;
  border: 1px var(--border-default-default-sds-light);
  height: 90%;
  transform: translateY(-50%);
  width: 1px;
  left: 20px;
  top: 50%;
  background-color: var(--border-default-default-sds-light);
}
div.bs-navbar div.bs-navbar-main nav > ul li.bs-navbar-item ul.bs-navbar-submenu.-open li.bs-navbar-subitem {
  list-style: none;
  border-radius: 8px;
  padding: 8px 44px;
  display: flex;
  flex-direction: row;
  gap: 12px;
  align-items: center;
  justify-content: start;
  color: var(--text-default-secondary-sds-light);
}
div.bs-navbar div.bs-navbar-main nav > ul li.bs-navbar-item ul.bs-navbar-submenu.-open li.bs-navbar-subitem a {
  visibility: visible;
  text-decoration: none;
  color: var(--text-default-secondary-sds-light);
}
div.bs-navbar div.bs-navbar-main nav > ul li.bs-navbar-item ul.bs-navbar-submenu.-open li.bs-navbar-subitem:hover {
  color: var(--brand-shop);
}
div.bs-navbar div.bs-navbar-main nav > ul li.bs-navbar-item ul.bs-navbar-submenu.-open li.bs-navbar-subitem:hover a {
  color: var(--brand-shop);
}
div.bs-navbar div.bs-navbar-main nav > ul li.bs-navbar-item ul.bs-navbar-submenu.-open li.bs-navbar-subitem.-focus {
  color: var(--brand-shop);
}
div.bs-navbar div.bs-navbar-main nav > ul li.bs-navbar-item ul.bs-navbar-submenu.-open li.bs-navbar-subitem.-focus a {
  color: var(--brand-shop);
  font-weight: bold;
}
div.bs-navbar div.bs-navbar-user-control {
  position: relative;
}
div.bs-navbar div.bs-navbar-user-control div.bs-navbar-user-item {
  display: flex;
  flex-direction: row;
  gap: 12px;
  align-items: center;
  justify-content: center;
}
div.bs-navbar div.bs-navbar-user-control div.bs-navbar-user-item img {
  display: block;
  width: 36px;
  height: 36px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 4px;
}
div.bs-navbar div.bs-navbar-user-control div.bs-navbar-user-item .bs-navbar-user-name {
  flex: auto;
  text-decoration: none;
  color: var(--text-default-secondary-sds-light);
}
div.bs-navbar div.bs-navbar-user-control div.bs-navbar-user-item .bs-navbar-user-name:hover {
  color: var(--text-default-default-sds-light);
}
div.bs-navbar div.bs-navbar-user-control div.bs-navbar-user-menu {
  z-index: 10;
  width: 100%;
  position: absolute;
  transform: translateY(-101%);
  border: 1px solid var(--border-default-default-sds-light);
  border-radius: 8px;
  padding: 0 12px;
  color: var(--text-default-secondary-sds-light);
  background-color: #fff;
  display: flex;
  flex-direction: column;
  gap: 0px;
  box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.16);
}
div.bs-navbar div.bs-navbar-user-control div.bs-navbar-user-menu div.bs-navbar-user-item {
  padding: 12px 0;
}
div.bs-navbar div.bs-navbar-user-control div.bs-navbar-user-menu div.bs-navbar-user-item:hover {
  color: var(--text-default-default-sds-light);
}
div.bs-navbar div.bs-navbar-user-control div.bs-navbar-user-field {
  background-color: #fff;
  border: 1px solid var(--border-default-default-sds-light);
  border-radius: 8px;
  padding: 12px;
  color: var(--text-default-secondary-sds-light);
}
div.bs-navbar div.bs-navbar-user-control div.bs-navbar-user-field:hover {
  box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.16);
}

body {
  display: flex;
}

main {
  display: inline-block;
  width: calc(100% - 220px);
  word-wrap: break-word;
  overflow-wrap: break-word;
  overflow-y: overlay;
  overflow-x: hidden;
  padding: 24px;
  height: 100vh;
}/*# sourceMappingURL=style_business.css.map */