@import "root.css";
@import "mixins";
@import "typography";
@import "effect";
@import "style_general";

* {
  @include clear-default;
  @include font-setting;
}
html {
  overflow: hidden;
}
$navbar-width: 220px;

div.bs-navbar {
  display: inline-block;
  width: $navbar-width;
  padding: 16px 16px;
  height: 100vh;
  @include flexbox(column);
  @include flexbox-details(stretch, space-between);
  border-right: 1px solid var(--border-default-default-sds-light);
  hr {
    border: 1px solid var(--border-default-default-sds-light);
  }
  div.bs-navbar-main {
    @include flexbox(column, 12px);
    div.bs-navbar-logo {
      padding: 0px 12px;
      @include flexbox(column, 8px);
      @include flexbox-details(end, center);
      img {
        width: 100%;
      }
      div.link-button {
        @include flexbox(row);
        @include flexbox-details(center, start);
        color: var(--text-default-secondary-sds-light);
        a {
          color: var(--text-default-secondary-sds-light);
        }
      }
    }

    nav ul {
      li.bs-navbar-item {
        border-radius: 8px;
        padding: 8px 12px;
        @include flexbox(row, 12px);
        @include flexbox-details(center, start);
        color: var(--text-default-secondary-sds-light);
        a {
          text-decoration: none;
          color: var(--text-default-secondary-sds-light);
        }

        &:hover {
          outline: 1px solid var(--brand-shop);
          color: var(--brand-shop);
          a {
            color: var(--brand-shop);
          }
        }
        &.-open {
          background-color: var(--brand-shop);
          color: #fff;
          a {
            color: #fff;
          }
        }
      }
    }
  }
  div.bs-navbar-user-control {
    position: relative;
    div.bs-navbar-user-item {
      @include flexbox(row, 12px);
      @include flexbox-details(center, center);
      img {
        display: block;
        width: 36px;
        height: 36px;
        object-fit: cover;
        border-radius: 4px;
      }
      p {
        flex: auto;
      }
    }
    div.bs-navbar-user-menu {
      z-index: 10;
      width: 100%;
      position: absolute;
      transform: translateY(-101%);
      border: 1px solid var(--border-default-default-sds-light);
      border-radius: 8px;
      padding: 12px;
      color: var(--text-default-secondary-sds-light);
      background-color: #fff;
      @include flexbox(column, 12px);
      @include effect-shadow-light;
    }
    div.bs-navbar-user-field {
      background-color: #fff;
      border: 1px solid var(--border-default-default-sds-light);
      border-radius: 8px;
      padding: 12px;
      color: var(--text-default-secondary-sds-light);
      &:hover {
        @include effect-shadow-light;
      }
    }
  }
}

// main的設定
body {
  display: flex;
}
main {
  display: inline-block;
  width: calc(100% - $navbar-width);
  word-wrap: break-word;
  overflow-wrap: break-word;
  overflow-y: overlay;
  overflow-x: hidden;
  padding: 24px;
  height: 100vh;
}
