@import "root.css";
@import "mixins";
@import "typography";
@import "effect";
@import "style_general";

* {
  @include clear-default;
  @include font-setting;
}
html {
  overflow: hidden;
}
$navbar-width: 220px;

// ====================導航============================
div.bs-navbar {
  display: inline-block;
  width: $navbar-width;
  padding: 16px 16px;
  height: 100vh;
  @include flexbox(column);
  @include flexbox-details(stretch, space-between);
  border-right: 1px solid var(--border-default-default-sds-light);
  hr {
    border: 1px solid var(--border-default-default-sds-light);
  }
  div.bs-navbar-main {
    @include flexbox(column, 12px);
    div.bs-navbar-logo {
      padding: 0px 12px;
      @include flexbox(column, 8px);
      @include flexbox-details(end, center);
      img {
        width: 100%;
      }
      div.link-button {
        @include flexbox(row);
        @include flexbox-details(center, start);
        color: var(--text-default-secondary-sds-light);
        a {
          color: var(--text-default-secondary-sds-light);
        }
      }
    }

    nav > ul {
      list-style: none;
      li.bs-navbar-item {
        div.bs-navbar-header {
          position: relative;
          padding: 8px 12px;
          @include flexbox(row, 8px);
          color: var(--text-default-secondary-sds-light);

          a {
            text-decoration: none;
            color: var(--text-default-secondary-sds-light);
          }
          &.-open {
            color: var(--text-default-default-sds-light);
            span {
              color: var(--brand-shop);
            }
            a {
              font-weight: bold;
              color: var(--brand-shop);
            }
          }
          &:hover {
            color: var(--text-default-default-sds-light);
            span {
              color: var(--brand-shop);
            }
            a {
              color: var(--brand-shop);
            }
          }

          &::before {
            content: "";
            transition: all 0.3s;
            position: absolute;
            top: 0;
            left: -24px;
            width: 8px;
            height: 100%;
          }
          &.-open::before {
            border-radius: 0 8px 8px 0;
            left: -16px;
            background-color: var(--brand-shop);
          }
        }
        ul.bs-navbar-submenu {
          list-style: none;
          max-height: 0; /* 初始高度為 0 */
          overflow: hidden; /* 隱藏內容 */
          position: relative;
          transition: none;
          a {
            visibility: hidden;
            text-decoration: none;
            color: var(--text-default-secondary-sds-light);
          }
          &.-open {
            opacity: 1;
            max-height: 500px;
            @include flexbox(column, 0px);
            transition: max-height 0.9s ease-out; /* 動畫過渡效果 */

            &::before {
              content: "";
              position: absolute;
              border: 1px var(--border-default-default-sds-light);
              height: 90%;
              transform: translateY(-50%);
              width: 1px;
              left: 20px;
              top: 50%;
              background-color: var(--border-default-default-sds-light);
            }
            li.bs-navbar-subitem {
              list-style: none;
              border-radius: 8px;
              padding: 8px 44px;
              @include flexbox(row, 12px);
              @include flexbox-details(center, start);
              color: var(--text-default-secondary-sds-light);
              a {
                visibility: visible;
                text-decoration: none;
                color: var(--text-default-secondary-sds-light);
              }

              &:hover {
                color: var(--brand-shop);
                a {
                  color: var(--brand-shop);
                }
              }
              &.-focus {
                color: var(--brand-shop);
                a {
                  color: var(--brand-shop);
                  font-weight: bold;
                }
              }
            }
          }
        }
      }
    }
  }
  div.bs-navbar-user-control {
    position: relative;
    div.bs-navbar-user-item {
      @include flexbox(row, 12px);
      @include flexbox-details(center, center);
      img {
        display: block;
        width: 36px;
        height: 36px;
        object-fit: cover;
        border-radius: 4px;
      }
      .bs-navbar-user-name {
        flex: auto;
        text-decoration: none;
        color: var(--text-default-secondary-sds-light);
        &:hover {
          color: var(--text-default-default-sds-light);
        }
      }
    }
    div.bs-navbar-user-menu {
      z-index: 10;
      width: 100%;
      position: absolute;
      transform: translateY(-101%);
      border: 1px solid var(--border-default-default-sds-light);
      border-radius: 8px;
      padding: 0 12px;

      color: var(--text-default-secondary-sds-light);
      background-color: #fff;
      @include flexbox(column, 0px);
      @include effect-shadow-light;
      div.bs-navbar-user-item {
        padding: 12px 0;
        &:hover {
          color: var(--text-default-default-sds-light);
        }
      }
    }
    div.bs-navbar-user-field {
      background-color: #fff;
      border: 1px solid var(--border-default-default-sds-light);
      border-radius: 8px;
      padding: 12px;
      color: var(--text-default-secondary-sds-light);
      &:hover {
        @include effect-shadow-light;
      }
    }
  }
}

// main的設定
body {
  display: flex;
}
main {
  display: inline-block;
  width: calc(100% - $navbar-width);
  word-wrap: break-word;
  overflow-wrap: break-word;
  overflow-y: overlay;
  overflow-x: hidden;
  padding: 24px;
  height: 100vh;
}
