<div clickable class="showcase-card card event">
  <img src="./asset/images/bgimg.png" alt="" />
  <div class="card-content">
    <div class="card-title">
      <div class="tag event">活動</div>
      <h3 class="card-title-text">
        越玩越好玩越玩越好玩越玩越好玩越玩越好玩的活動
      </h3>
    </div>
    <div class="card-info">
      <p>一段小小小小小小小小小小小小小小小小小小小小簡介</p>
      <div class="progress">
        <div
          class="progress-bar bgcolor-event"
          role="progressbar"
          style="width: 70%"
        ></div>
      </div>
    </div>
    <div class="tags-box">
      <div class="tag plain-tag">
        <span class="material-icons">location_on</span>台北市
      </div>
      <div class="tag plain-tag">
        <span class="material-icons">calendar_today</span>04/28
      </div>
    </div>
  </div>
</div>
