<div clickable class="showcase-card card business">
  <img src="./asset/images/bgimg.png" alt="" />
  <div class="card-content">
    <div class="card-title">
      <div class="tag business">商家</div>
      <h3 class="card-title-text">這是一家好奇怪好奇怪好奇怪好奇怪的店家</h3>
    </div>
    <div class="card-info">
      <p>一段小小小小小小小小小小小小小小小小小小小小簡介</p>
    </div>
    <div class="tags-box">
      <div class="tag hot">
        <span class="material-icons">local_fire_department</span>哈燒精選
      </div>
      <div class="tag hot">
        <span class="material-icons">local_fire_department</span>哈燒精選
      </div>
    </div>
  </div>
</div>
