<div clickable class="showcase-card card product">
  <img src="./asset/images/bgimg.png" alt="" />
  <div class="card-content">
    <div class="card-title">
      <div class="tag product">商品</div>
      <h3 class="card-title-text">
        好棒棒棒棒棒棒棒棒棒棒棒棒棒棒棒棒棒棒棒棒棒的商品
      </h3>
    </div>
    <div class="card-info">
      <p>一段小小小小小小小小小小小小小小小小小小小小簡介</p>
    </div>
    <div class="tags-box">
      <strong>NT$ <span>3,600</span></strong>
      <del>NT$ <span>4,800</span></del>
    </div>
  </div>
</div>
