<footer>
  <div class="footer-box">
    <div class="platform-info">
      <div class="logo-box">
        <img src="./asset/images/ARTOGETHER_white.svg" alt="" />
      </div>
      <div class="contact"></div>
    </div>
    <div class="features-box">
      <div>
        <h5 class="feature-title">關於</h5>
        <ul>
          <li><a href="#">關於我們</a></li>
          <li><a href="#">隱私權政策</a></li>
          <li><a href="#">服務條款</a></li>
        </ul>
      </div>
      <div>
        <h5 class="feature-title">探索美好</h5>
        <ul>
          <li><a href="#">找商家</a></li>
          <li><a href="#">找場地</a></li>
          <li><a href="#">找商品</a></li>
          <li><a href="#">找活動</a></li>
        </ul>
      </div>
      <div>
        <h5 class="feature-title">販售</h5>
        <ul>
          <li><a href="#">我想成為商家</a></li>
          <li><a href="#">商家條款</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
