<!-- 
使用時請填入兩個參數，分別對應預設選取的項目，與所選取的子項目
1. 商家基本資訊->'info'
	通知->'inbox'
	聊天訊息->'chat'
	管理員權限管理->'staff'
	--
	場地管理->'venue'
	活動管理->'event'
	商品管理->'product'

2. 訂單管理->'order'
	優惠券管理->'coupon'
	場地管理->'venue'
	活動管理->'event'
	商品管理->'product'
 -->
 <!-- 
	使用範例： 
	<div th:replace="~{/components/navbar_business::navbar('event','event')}"></div>	
-->
<!-- 導航 -->
<div class="bs-navbar" th:fragment="navbar(selectedItem,selectedSubItem)">
	<div class="bs-navbar-main">
		<div class="bs-navbar-logo">
			<img th:src="@{/web_design/asset/images/ARTOGETHER.svg}" alt="" />
			<div id="div_back_to_homepage" class="link-button">
				<a th:href="@{/business_logout}">返回首頁</a> <span
					class="material-symbols-outlined">exit_to_app</span>
			</div>
		</div>
		<hr />
		<nav>
			<ul>
				<li clickable class="bs-navbar-item">
					<div clickable class="bs-navbar-header"
	                th:classappend="${selectedItem == 'info' ? ' -open' : ''}">
						<span class="material-symbols-outlined">storefront</span><a
							href="prdMall/member/memberdetails">商家基本資訊</a>
					</div>
				</li>
				<li clickable class="bs-navbar-item">
					<div clickable class="bs-navbar-header"
	                th:classappend="${selectedItem == 'inbox' ? ' -open' : ''}">
						<span class="material-symbols-outlined">inbox</span><a href="/platformMsg/businessMessage">通知</a>
					</div>
				</li>
				<li clickable class="bs-navbar-item">
					<div clickable class="bs-navbar-header"
	                th:classappend="${selectedItem == 'chat' ? ' -open' : ''}">
						<span class="material-symbols-outlined">chat</span><a href="/business/chatroom">聊天訊息</a>
					</div>
					
				</li>
				<li clickable class="bs-navbar-item">
				
					<div clickable class="bs-navbar-header"
	                th:classappend="${selectedItem == 'staff' ? ' -open' : ''}">
						<span class="material-symbols-outlined">admin_panel_settings</span><a
							href="/business/staff_management">管理員權限設定</a>
					</div>
				</li>
			</ul>
		</nav>
		<hr />
		<nav>
			<ul>
				<li clickable class="bs-navbar-item">
					<div clickable class="bs-navbar-header"
	                    th:classappend="${selectedItem == 'product' ? ' -open' : ''}">
					
						<span class="material-symbols-outlined">sell</span>商品管理
					</div>
					<ul class="bs-navbar-submenu"
						th:classappend="${selectedItem == 'product' ? ' -open' : ''}">
					
						<li clickable class="bs-navbar-subitem"
						    th:classappend="${selectedSubItem == 'order' ? ' -focus' : ''}">
						
						<a href="/product/businessOrder">訂單管理</a>
						</li>
						<li clickable class="bs-navbar-subitem"
						    th:classappend="${selectedSubItem == 'coupon' ? ' -focus' : ''}">
						
						<a href="coupons/list">優惠券管理</a>
						</li>
						<li clickable class="bs-navbar-subitem"
						    th:classappend="${selectedSubItem == 'product' ? ' -focus' : ''}">
						
						<a href="product/businessProducts">商品管理</a>
						</li>
					</ul>
				</li>
				<li clickable class="bs-navbar-item">
					<div clickable class="bs-navbar-header"
						th:classappend="${selectedItem == 'venue' ? ' -open' : ''}">
						<span class="material-symbols-outlined">roofing</span>場地管理
					</div>
					<ul class="bs-navbar-submenu"
						th:classappend="${selectedItem == 'venue' ? ' -open' : ''}">
					
						<li clickable class="bs-navbar-subitem"
						    th:classappend="${selectedSubItem == 'order' ? ' -focus' : ''}">
						
						<a href="/vneBiz/Orders">訂單管理</a></li>
						<li clickable class="bs-navbar-subitem"
						    th:classappend="${selectedSubItem == 'coupon' ? ' -focus' : ''}">
						<a href="#">優惠券管理</a>
						</li>
						<li clickable class="bs-navbar-subitem"
						    th:classappend="${selectedSubItem == 'venue' ? ' -focus' : ''}">
						
						<a href="/vneBiz/vneList">場地管理</a></li>
					</ul>
				</li>
				<li clickable class="bs-navbar-item">
				
					<div clickable class="bs-navbar-header"
						 th:classappend="${selectedItem == 'event' ? ' -open' : ''}">
					
						<span class="material-symbols-outlined">local_activity</span>活動管理
					</div>
					<ul class="bs-navbar-submenu"
						th:classappend="${selectedItem == 'event' ? ' -open' : ''}">
					
						<li clickable class="bs-navbar-subitem"
						    th:classappend="${selectedSubItem == 'order' ? ' -focus' : ''}">
						
						<a href="/business/event/orders">訂單管理</a>
						</li>
						<li clickable class="bs-navbar-subitem"
						    th:classappend="${selectedSubItem == 'coupon' ? ' -focus' : ''}">
						
						<a href="/business/event/coupons">優惠券管理</a></li>
						<li clickable class="bs-navbar-subitem"
                            th:classappend="${selectedSubItem == 'event' ? ' -focus' : ''}">

						<a href="/event/MyPostedEvent">活動管理</a></li>
					</ul>
				</li>
			</ul>
		</nav>
	</div>
	<div class="bs-navbar-user-control">
		<div class="bs-navbar-user-menu -hidden"
			th:if="${#session.getAttribute('businessMembers').size()>1}">
			<div clickable class="bs-navbar-user-item"
				th:each="businessMember, iterStat: ${#session.getAttribute('businessMembers')}">
				<div class="bs-navbar-user-thumbnail">
					<img th:src="@{/web_design/asset/images/bgimg.png}" alt="" />
				</div>
				<a class="bs-navbar-user-name"
					th:href="@{/businessMemberSwitch(index=${iterStat.index})}"
					th:text="${businessMember.name}">商家名稱</a>
			</div>
		</div>
		<div clickable class="bs-navbar-user-field">
			<div class="bs-navbar-user-item">
				<div class="bs-navbar-user-thumbnail">
					<img th:src="@{/web_design/asset/images/bgimg.png}" alt="" />
				</div>
            <p class="bs-navbar-user-name" th:text="${#session.getAttribute('presentBusinessMember').name}">商家名稱</p>
				<span class="material-symbols-outlined unfold" id="icon_unfold">unfold_more</span>
			</div>
		</div>
	</div>

	<script th:src="@{/web_design/js/script_navbar_business.js}"></script>
</div>