<!-- 導航 -->
<header class="header navbar_homepage">
  <div class="header_box">
    <div class="logo">
      <img src="./asset/images/ARTOGETHER.svg" alt="" />
    </div>
    <nav class="navbar">
      <div clickable class="navbar-item">
        探索
        <span class="material-icons"> arrow_drop_down </span>
      </div>
    </nav>
    <div class="search_bar">
      <input type="text" placeholder="Search by shop, event, location..." />
      <span class="material-icons">search</span>
    </div>
    <div clickable class="cart_div">
      <span class="badge" id="cart_amount">3</span>
      <span class="material-icons">shopping_bag</span>
    </div>
    <div clickable class="user_div">
      <div class="thumbnail-box">
        <img src="./asset/images/bgimg.png" alt="" class="thumbnail" />
      </div>
      <span id="user_name">Alice Wang</span
      ><span class="material-icons"> arrow_drop_down </span>
    </div>
    <button clickable class="fab">成為商家</button>
    <span class="material-icons btn_menu">menu</span>
  </div>
</header>
