<!-- 
使用時請填入兩個參數，分別對應預設選取的項目，與所選取的子項目
1. 基本資訊->'info'
	通知->'inbox'
	聊天訊息->'chat'
	--
	場地管理->'venue'
	活動管理->'event'
	商品管理->'product'

2. 訂單查詢->'order'
	優惠券->'coupon'
	場地追蹤->'venue'
	活動追蹤->'event'
	商品追蹤->'product'
 -->
<!-- 
	使用範例： 
	<div th:replace="~{/components/navbar_member::navbar('event','event')}"></div>	
-->

<!-- 導航 -->
<div th:fragment="navbar(selectedItem,selectedSubItem)">
	<style>
	.bs-navbar{
		background-color: var(--brand-shop-tint);
	}
	div.bs-navbar div.bs-navbar-user-control div.bs-navbar-user-field  {
		background-color: var(--brand-shop-tint);
	 }

	</style>
    <div class="bs-navbar" >
      <div class="bs-navbar-main">
        <div class="bs-navbar-logo">
          <img th:src="@{/web_design/asset/images/ARTOGETHER_white.svg}" alt="" />
          <div id="div_back_to_homepage" class="link-button">
            <a th:href="@{/}">返回首頁</a
            ><span class="material-symbols-outlined">exit_to_app</span>
          </div>
        </div>
        <hr />
        <nav>
          <ul>
            <li clickable class="bs-navbar-item">
              <div clickable class="bs-navbar-header"
  	                th:classappend="${selectedItem == 'info' ? ' -open' : ''}">
                <span class="material-symbols-outlined">settings</span
                ><a href="/profile/memberProfiles">基本資訊設定</a>
              </div>
            </li>
            <li clickable class="bs-navbar-item">
              <div clickable class="bs-navbar-header"
              	   th:classappend="${selectedItem == 'inbox' ? ' -open' : ''}">
                <span class="material-symbols-outlined">inbox</span
                ><a href="/platformMsg/memberMessage">通知</a>
              </div>
            </li>
            <li clickable class="bs-navbar-item">
              <div clickable class="bs-navbar-header"
              	   th:classappend="${selectedItem == 'chat' ? ' -open' : ''}">
                <span class="material-symbols-outlined">chat</span
                ><a th:href="@{/member/chatroom}">聊天訊息</a>
              </div>
            </li>
          </ul>
        </nav>
        <hr />
        <nav>
          <ul>
            <li clickable class="bs-navbar-item">
              <div clickable class="bs-navbar-header"
              	   th:classappend="${selectedItem == 'product' ? ' -open' : ''}">
                <span class="material-symbols-outlined">sell</span>商品管理
              </div>
              <ul class="bs-navbar-submenu"
	           		th:classappend="${selectedItem == 'product' ? ' -open' : ''}">
                <li clickable class="bs-navbar-subitem"
					th:classappend="${selectedSubItem == 'order' ? ' -focus' : ''}">
                  <a href="/order/page">訂單查詢</a>
                </li>
                <li clickable class="bs-navbar-subitem"
					th:classappend="${selectedSubItem == 'coupon' ? ' -focus' : ''}">
                  <a href="coupons/membercoupons">商品優惠券</a>
                </li>
                <li clickable class="bs-navbar-subitem"
					th:classappend="${selectedSubItem == 'product' ? ' -focus' : ''}">
                  <a href="/prdTrack/member/{id}">商品追蹤</a>
                </li>
              </ul>
            </li>
            <li clickable class="bs-navbar-item">
              <div clickable class="bs-navbar-header"
              		th:classappend="${selectedItem == 'venue' ? ' -open' : ''}">
                <span class="material-symbols-outlined">roofing</span>場地管理
              </div>
              <ul class="bs-navbar-submenu"
              		th:classappend="${selectedItem == 'venue' ? ' -open' : ''}">
                <li clickable class="bs-navbar-subitem"
                	th:classappend="${selectedSubItem == 'order' ? ' -focus' : ''}">
                  <a href="#">訂單查詢</a>
                </li>

                <li clickable class="bs-navbar-subitem"
                	th:classappend="${selectedSubItem == 'venue' ? ' -focus' : ''}">
                  <a href="#">場地追蹤</a>
                </li>
              </ul>
            </li>
            <li clickable class="bs-navbar-item">
              <div clickable class="bs-navbar-header"
              		th:classappend="${selectedItem == 'event' ? ' -open' : ''}">
                <span class="material-symbols-outlined">local_activity</span
                >活動管理
              </div>
              <ul class="bs-navbar-submenu"
              		th:classappend="${selectedItem == 'event' ? ' -open' : ''}">
                <li clickable class="bs-navbar-subitem"
                	th:classappend="${selectedSubItem == 'order' ? ' -focus' : ''}">
                  <a href="/event/orders">訂單查詢</a>
                </li>
                <li clickable class="bs-navbar-subitem"
                	th:classappend="${selectedSubItem == 'coupon' ? ' -focus' : ''}">
                  <a href="/event/coupons">活動優惠券</a>
                </li>
                <li clickable class="bs-navbar-subitem"
                    th:classappend="${selectedSubItem == 'event' ? ' -focus' : ''}">
                  <a href="/event/all_tracks">活動追蹤</a>
                </li>
              </ul>
            </li>
          </ul>
        </nav>
      </div>
      <div class="bs-navbar-user-control">
        <div class="bs-navbar-user-field clear-shadow">
          <div class="bs-navbar-user-item">
            <div class="bs-navbar-user-thumbnail">
              <img th:src="@{/web_design/asset/images/bgimg.png}" alt="" />
            </div>
            <p class="bs-navbar-user-name" th:text="${#session.getAttribute('memberName')}">會員名稱</p>
          </div>
        </div>
      </div>
    </div>
    <script type="text/javascript" th:inline="javascript">
    // 設定user-item的選取範圍
    var els_nav_user_item = document.querySelectorAll(
      "div.bs-navbar-user-menu .bs-navbar-user-item"
    );
    for (let i = 0; i < els_nav_user_item.length; i++) {
      els_nav_user_item[i].addEventListener("click", function (e) {
        console.log("hi");
        // TODO: 這裡要補上跳轉連結
        this.lastElementChild.click();
        el_nav_user_field.click();
      });
    }

    // 設定nav-item的選取效果
    var els_nav_item = document.querySelectorAll(".bs-navbar-item");
    var els_nav_header = document.querySelectorAll(".bs-navbar-header");
    var els_nav_submenu = document.querySelectorAll(".bs-navbar-submenu");
    var els_nav_subitem = document.querySelectorAll(".bs-navbar-subitem");
    for (let i = 0; i < els_nav_item.length; i++) {
      els_nav_item[i].addEventListener("click", function () {
        els_nav_header.forEach((e) => e.classList.remove("-open"));
        els_nav_submenu.forEach((e) => e.classList.remove("-open"));
        this.firstElementChild.classList.add("-open");
        this.lastElementChild.classList.add("-open");
        // 觸發a tag點擊事件
        this.lastElementChild.click();
      });
    }
    // 設定nav-subitem的選取效果
    for (let i = 0; i < els_nav_subitem.length; i++) {
      els_nav_subitem[i].addEventListener("click", function () {
        els_nav_subitem.forEach((e) => e.classList.remove("-focus"));
        this.classList.add("-focus");
      });
    }
	</script>
</div>