<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <link rel="stylesheet" th:href="@{/web_design/style/style_business.css}" />
    <link
            href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined"
            rel="stylesheet"
    />
</head>
<body>
<!-- 導航 -->
<div class="bs-navbar">
    <div class="bs-navbar-main">
        <div class="bs-navbar-logo">
            <img src="../asset/images/ARTOGETHER.svg" alt="" />
            <div id="div_back_to_homepage" class="link-button">
                <a th:href="@{/business_logout}">返回首頁</a
                ><span class="material-symbols-outlined">exit_to_app</span>
            </div>
        </div>
        <hr />
        <nav>
            <ul>
                <li clickable class="bs-navbar-item -open">
                    <div clickable class="bs-navbar-header">
                <span class="material-symbols-outlined">storefront</span
                ><a href="#">商家基本資訊</a>
                    </div>
                </li>
                <li clickable class="bs-navbar-item">
                    <div clickable class="bs-navbar-header">
                <span class="material-symbols-outlined">inbox</span
                ><a href="#">收件匣</a>
                    </div>
                </li>
                <li clickable class="bs-navbar-item">
                    <div clickable class="bs-navbar-header">
                <span class="material-symbols-outlined"
                >admin_panel_settings</span
                ><a href="#">管理員權限設定</a>
                    </div>
                </li>
            </ul>
        </nav>
        <hr />
        <nav>
            <ul>
                <li clickable class="bs-navbar-item">
                    <div clickable class="bs-navbar-header">
                        <span class="material-symbols-outlined">sell</span>商品管理
                    </div>
                    <ul class="bs-navbar-submenu">
                        <li clickable class="bs-navbar-subitem">
                            <a href="#">訂單管理</a>
                        </li>
                        <li clickable class="bs-navbar-subitem">
                            <a href="#">優惠券管理</a>
                        </li>
                        <li clickable class="bs-navbar-subitem">
                            <a href="#">商品管理</a>
                        </li>
                    </ul>
                </li>
                <li clickable class="bs-navbar-item">
                    <div clickable class="bs-navbar-header">
                        <span class="material-symbols-outlined">roofing</span>場地管理
                    </div>
                    <ul class="bs-navbar-submenu">
                        <li clickable class="bs-navbar-subitem">
                            <a href="/vneBiz/Orders">訂單管理</a>
                        </li>
                        <li clickable class="bs-navbar-subitem">
                            <a href="#">優惠券管理</a>
                        </li>
                        <li clickable class="bs-navbar-subitem">
                            <a href="/vneBiz/vneList">場地管理</a>
                        </li>
                    </ul>
                </li>
                <li clickable class="bs-navbar-item">
                    <div clickable class="bs-navbar-header">
                <span class="material-symbols-outlined">local_activity</span
                >活動管理
                    </div>
                    <ul class="bs-navbar-submenu">
                        <li clickable class="bs-navbar-subitem">
                            <a href="#">訂單管理</a>
                        </li>
                        <li clickable class="bs-navbar-subitem">
                            <a href="#">優惠券管理</a>
                        </li>
                        <li clickable class="bs-navbar-subitem">
                            <a href="#">活動管理</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </nav>
    </div>
    <div class="bs-navbar-user-control">
        <div class="bs-navbar-user-menu -hidden" th:if="${#session.getAttribute('businessMembers').size()>1}">
            <div clickable class="bs-navbar-user-item" th:each="businessMember: ${#session.getAttribute('businessMembers')}">
                <div class="bs-navbar-user-thumbnail">
                    <img src="../asset/images/bgimg.png" alt="" />
                </div>
                <div>
                    <a class="bs-navbar-user-name"
                       th:href="@{/businessMemberSwitch(index=${#session.getAttribute('businessMembers').indexOf(businessMember)})}"
                       th:text="${businessMember.name}">商家名稱</a>
                </div>
                <hr />
            </div>
        </div>

        <div clickable class="bs-navbar-user-field">
            <div class="bs-navbar-user-item">
                <div class="bs-navbar-user-thumbnail">
                    <img src="../asset/images/bgimg.png" alt="" />
                </div>
                <p class="bs-navbar-user-name" th:text="${#session.getAttribute('presentBusinessMember').name}">商家名稱</p>
                <span class="material-symbols-outlined unfold" id="icon_unfold"
                >unfold_more</span
                >
            </div>
        </div>
    </div>
</div>

<!-- main區塊 -->
<main>
    <h3>hiiiiiiiiii</h3>
    <p>
        ggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggg
    </p>
    <img src="./asset/images/bgimg.png" alt="" />
</main>
<script th:src="@{/platform_backend/js/bizpage-modle.js}"></script>
</body>
</html>
