<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>註冊成為商家</title>
<link rel="stylesheet" th:href="@{/web_design/style/style_general.css}" />
<link rel="stylesheet" th:href="@{/web_design/style/style_homepage.css}" />
<link
	href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined"
	rel="stylesheet" />
</head>
</head>
<body>
	<div th:replace="~{/components/navbar_homepage::navbar}"></div>

	<main>
		<form th:action="@{/business/applyForBusiness}" method="post" th:object=${businessMember} class="narrow-width">
	<h2>註冊商家表單</h2>
			<fieldset>
				<label class="label-input">商家名稱
					<input type="text" th:field="*{name}" class="solo" id="bm_name">
				</label>
				<label class="label-input">商家email
					<input type="email" th:field="*{email}" class="solo" id="bm_email">
				</label>
				<label class="label-input">商家地址
					<input type="text" th:field="*{addr}" class="solo" id="bm_addr">
				</label>
				<label class="label-input">統一編號
					<input type="text" th:field="*{taxId}" class="solo" id="bm_taxId">
				</label>
				<div class="row">
					<button type="button" class="button-secondary button-big flex-1" onclick="history.back()">取消</button>
					<button type="submit" class="button-primary button-big flex-2">送出</button>
				</div>
			</fieldset>
			
		</form>
	</main>


<script type="text/javascript">

document.querySelector('form').addEventListener('submit', function (e) {
	if(!validateData()){
		e.preventDefault()
		return}

});

// ==================資料驗證=====================
function validateData(){
var isPassed=true;
var el_name=document.querySelector("#bm_name");
var el_addr=document.querySelector("#bm_addr");
var el_email=document.querySelector("#bm_email");
var el_taxId=document.querySelector("#bm_taxId");

if(el_name.value===""){
	alert("請給我去輸入名稱")
	isPassed=false
	return
}
if(el_email.value===""){
	alert("請給我去輸入email")
	isPassed=false
	return
}
if(el_addr.value===""){
	alert("請給我去輸入地址")
	isPassed=false
	return
}
if(el_taxId.value===null){
	alert("請給我去輸入統一編號")
	isPassed=false
	return
}

return isPassed
}
</script>
</body>
</html>