<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Document</title>
  <link rel="stylesheet" th:href="@{/web_design/style/style_business.css}" />
  <link
    href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined"
    rel="stylesheet"
  />
</head>
<body>

<!-- 導航 -->
<div th:replace="~{/components/navbar_business::navbar('info','')}"></div>
  <!-- main區塊 -->
  <main>
    <h3>hiiiiiiiiii</h3>
    <p>
      ggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggggg
    </p>
    <img src="./asset/images/bgimg.png" alt="" />
  </main>


</body>
</html>
