<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>藝起 Artogether</title>
  <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
  <link rel="stylesheet" th:href="@{/web_design/style/style_general.css}" />
  <link rel="stylesheet" th:href="@{/web_design/style/style_homepage.css}" />
 <link
	  href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined"
	  rel="stylesheet"
	/>
</head>
<body>
 <!-- 導航 -->
	<div th:replace="~{/components/navbar_homepage::navbar}"></div>
	
	
<main>
  <section class="sec-carousel normal-width">
<!--   carousel -->
<!-- 請再把這邊隨意設的imgList換成要demo的圖片列表 -->
<!--   	<div th:replace="~{/components/carousel::carousel(imgList, '480' ,true)}"></div> -->
  
  </section>

		<!-- 商家概覽 -->
<!--	<section class="sec-showcase showcase-business normal-width">-->
<!--		<div class="showcase-info-box">-->
<!--			<div class="showcase-info">-->
<!--				<h2 class="business">精選商家</h2>-->
<!--			</div>-->
<!--			<div class="showcase-browse-all link-button">-->
<!--				<a href="#">查看更多</a> <span class="material-symbols-outlined">chevron_right</span>-->
<!--			</div>-->
<!--		</div>-->
<!--		<div class="showcase-cards-box">-->
<!--			<div th:each="topProduct:${topThreeProduct}"th:onclick="|location.href='/product/productDetails/' + ${topProduct.id}|"-->
<!--				clickable class="showcase-card card business">-->
<!--				<img src="./asset/images/bgimg.png" alt="" />-->
<!--				<div class="card-content">-->
<!--					<div class="card-title">-->
<!--						<div class="tag product">商品</div>-->
<!--						<h3 class="card-title-text" th:text="${topProduct.name}"></h3>-->
<!--					</div>-->
<!--				</div>-->
<!--			</div>-->

<!--		</div>-->
<!--	</section>-->

  <!-- 活動概覽 -->
  <section class="sec-showcase showcase-event normal-width">
    <div class="showcase-info-box">
      <div class="showcase-info">
        <h2 class="event">熱門活動</h2>
      </div>
      <div class="showcase-browse-all link-button">
        <a th:href="@{/event/all}">查看更多</a>
        <span class="material-symbols-outlined">chevron_right</span>
      </div>
    </div>

    <div class="showcase-cards-box">
      <div th:each="topThree:${topThreeEvents}" th:onclick="|location.href='/event/details/' + ${topThree.id}|" clickable class="showcase-card card event">
        <img th:src="@{/event/DBImgReader/} + ${topThree.imgId}" alt="" />
        <div class="card-content">
          <div class="card-title">
            <div class="tag event">活動</div>
            <h3 class="card-title-text" th:text="${topThree.name}">
            </h3>
          </div>
          <div class="card-info">
            <p th:text="${topThree.description.substring(0,35)}+ ' ...'" ></p>
            <div style="font-size: 12px;font-style: italic; display: inline-block" th:text="'報名進度：' + ${#numbers.formatDecimal((topThree.getEnrolled()*100/topThree.getMaximum()) , 2, 1)}  + '%'">報名進度：</div>
            <div class="progress">
              <div
                      class="progress-bar bgcolor-event"
                      role="progressbar"
                      th:attr="style='width:' + (${topThree.getEnrolled()} / ${topThree.getMaximum()} * 100) + '%' "
              ></div>
            </div>
          </div>
          <div class="tags-box">
            <span class="material-symbols-outlined">location_on</span>
            <span class="tag plain-tag" th:text="${topThree.location.substring(0,3)}"></span>
            <span class="material-symbols-outlined">calendar_today</span>
            <span th:text="${#dates.format(topThree.startDate, 'yyyy-MM-dd')}"></span>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- 場地概覽 -->
  <section class="sec-showcase showcase-venue normal-width">
    <div class="showcase-info-box">
      <div class="showcase-info">
        <h2 class="venue">優質場地</h2>
      </div>
      <div class="showcase-browse-all link-button">
        <a href="/venues/all">查看更多</a>
        <span class="material-symbols-outlined">chevron_right</span>
      </div>
    </div>
    <div class="showcase-cards-box">
      <div th:each="vneCardDTO:${vneCardDTOs}" th:onclick="|location.href='/vneMem/details/' + ${vneCardDTO.vneId}|" clickable class="showcase-card card venue">
        <img th:src="@{${vneCardDTO.imgUrls[0]}}" alt="" />
        <div class="card-content">
          <div class="card-title">
            <div class="tag venue">場地</div>
            <h3 class="card-title-text" th:text="${vneCardDTO.vneName}">
              夭壽讚讚讚讚讚讚讚讚讚讚讚讚讚讚讚讚的場地
            </h3>
          </div>
          <div class="card-info" th:text="${vneCardDTO.description}">
            <p>一段小小小小小小小小小小小小小小小小小小小小簡介</p>
          </div>
          <div class="tags-box">
            <span class="material-symbols-outlined">location_on</span>
            <span class="tag plain-tag" th:text="${vneCardDTO.vneAddress.substring(3,6)}"></span>
            <span class="material-symbols-outlined">schedule</span>
            <span th:text="${vneCardDTO.startHour} + ' - ' + ${vneCardDTO.endHour}"></span>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- 商品概覽 -->
  <section class="sec-showcase showcase-business normal-width">
		<div class="showcase-info-box">
			<div class="showcase-info">
				<h2 class="business">精選商品</h2>
			</div>
			<div class="showcase-browse-all link-button">
				<a th:href="@{/product/productspage(page=0, size=5, sortBy='id')}">查看更多</a> <span class="material-symbols-outlined">chevron_right</span>
			</div>
		</div>
		<div class="showcase-cards-box">
			<div th:each="topProduct:${topThreeProduct}"th:onclick="|location.href='/product/productDetails/' + ${topProduct.id}|"
				clickable class="showcase-card card business">
				 <img th:src="${topProduct.img}" alt="商品圖片" style="width: 100%; height: 150px; object-fit: cover;" />
				<div class="card-content">
					<div class="card-title">
						<div class="tag product">商品</div>
						<h3 class="card-title-text" th:text="${topProduct.name}"></h3>
					</div>
					
					<div class="card-info">
    					<p th:text="${topProduct.description.length() > 20 ? topProduct.description.substring(0, 20) + '...' : topProduct.description}"></p>
					</div>
          
			</div>

		</div>
	</section>
</main>
<footer th:fragment="footer">
  <div class="footer-box" >
    <div class="platform-info">
      <div class="logo-box">
        <img src="./asset/images/ARTOGETHER_white.svg" alt="" />
      </div>
      <div class="contact"></div>
    </div>
    <div class="features-box">
      <div>
        <h5 class="feature-title">關於</h5>
        <ul>
          <li><a href="#">關於我們</a></li>
          <li><a href="#">隱私權政策</a></li>
          <li><a href="#">服務條款</a></li>
        </ul>
      </div>
      <div>
        <h5 class="feature-title">探索美好</h5>
        <ul>
          <li><a href="#">找商家</a></li>
          <li><a href="/venue/recommend">找場地</a></li>
          <li><a href="#">找商品</a></li>
          <li><a href="#">找活動</a></li>
        </ul>
      </div>
      <div>
        <h5 class="feature-title">販售</h5>
        <ul>
          <li><a href="#">我想成為商家</a></li>
          <li><a href="#">商家條款</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>

<script th:src="@{/web_design/components/web_components/navbar_hompage.js}"></script>

</body>
</html>
